<template>
    <v-footer
    dark
    class="primary d-flex align-center justify-center"
    padless
  >
    <v-card
      flat
      full-width
      tile
      class="primary white--text text-center">

      <v-card-text class="pt-3">
          <span>Merci à vous d'utiliser comme un cactus. N'hésitez pas à nous faire des retours ou à nous contacter sur notre addresse mail :</span>
          <br>  <a class="white--text" href = "mailto: commeuncactus.su@gmail.com">commeuncactus.su@gmail.com</a>
          <br> <a class="white--text mt-5" @click="downLoadAPk">Cliquez ici pour télécharger l'application.</a>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text">
        {{ new Date().getFullYear() }} — <strong>Comme un cactus</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>
<script>

export default {
    data(){
        return {
            
        }
    },
    methods: {
        downLoadAPk(){
          window.open("https://cucfilesystemtorage.blob.core.windows.net/file-system/Comme un cactus.apk", '_blank')
        }
    }
}
</script>
