<template>
  <div>
      <OrganisationList/>
  </div>
</template>

<script>

import OrganisationList from './OrganisationList'

export default {
  name: 'Home',
  components: {
    OrganisationList,
    
  },
  data: () => {
      return {
      
    }
  }
}
</script>

<style scoped>
  .bg_img{
    background-image: url('../assets/bg_img.png');
    background-repeat: no-repeat;
  }
  p{
    color: black;
  }
  h1{
    color: black;
  }
  h2{
    color: black;
  }
  h3{
    color: black;
  }
  h4{
    color: black;
  }
  v-card{
    border-radius:50px;
  }
</style>