<template>
    <v-card class="ma-10" xs10>
        <v-card-title text-center>
            {{exercise.title}}
        </v-card-title> 

        <v-card-text >
            <div v-if="!started">
                Nombre de questions : {{exercise.questions.length}}
            </div>

            <div v-else>
                <v-stepper v-model="stepperStep">
                    <v-stepper-header>
                        <template v-for="(question, i) in exercise.questions">
                            <v-stepper-step
                            :key="i"
                            :step="i+1"
                            :complete="stepperStep > i">
                                Question {{ i+1 }}
                            </v-stepper-step>

                            <v-divider :key="i"></v-divider>
                        </template>

                        <v-stepper-step
                            :step="exercise.questions.length+1"
                            :complete="stepperStep > exercise.questions.length+1">
                            Envoyer
                        </v-stepper-step>
                        <v-divider></v-divider>
                        <v-stepper-step
                            :step="exercise.questions.length+2"
                            :complete="stepperStep > exercise.questions.length+2">
                            Resultat 
                        </v-stepper-step>
                    </v-stepper-header>

                    <v-stepper-items>
                        <v-stepper-content
                        v-for="(question, i) in exercise.questions"
                        :key="i"
                        :step="i+1">
                        <v-card
                        class="mb-12"
                        outlined>
                            <v-card-title>
                                <h2 class="primary--text">Question : {{question.text}}</h2>
                                <v-spacer></v-spacer>
                                <h3 class="secondary--text">{{question.coefficient}} pt</h3>
                            </v-card-title>
                            <v-card-text>
                                <div v-show="question.questionType == questionType[0]">
                                    <div
                                    v-for="(response, j) in question.responses"
                                    :key="j">
                                        <v-checkbox
                                        v-model="selectedResponse"
                                        :label="response.text"
                                        :value="response">
                                        </v-checkbox>
                                    </div>
                                    <v-btn
                                        color="primary"
                                        @click="addResponsesQCMToList(question)">
                                        Continue
                                    </v-btn>
                                </div>
                                <div v-show="question.questionType === questionType[1]">
                                    <v-radio-group 
                                    v-model="radioResponse"
                                    column
                                    v-for="(response, m) in question.responses"
                                    :key="m">
                                        <v-radio
                                        :label="response.text"
                                        :value="response">
                                        </v-radio>
                                    </v-radio-group>
                                
                                    <v-btn
                                        color="primary"
                                        @click="addResponseToList(question)">
                                        Continue
                                    </v-btn>
                                </div>
                                
                            </v-card-text>
                        </v-card>

                        </v-stepper-content>
                        
                        <v-stepper-content :step="exercise.questions.length+1">
                            <v-card
                            class="mb-12">
                            
                            </v-card>

                        <v-btn
                            color="primary"
                            @click="sendResponse()">
                            Envoyer l'exercice
                        </v-btn>
                        </v-stepper-content>
                        <v-stepper-content :step="exercise.questions.length+2">
                            <v-card
                            class="mb-12">
                                <v-card-title>
                                    En attente de vos résultats
                                </v-card-title>
                                <v-card-text>
                                    <v-progress-circular
                                    v-show="loading"
                                    indeterminate
                                    color="secondary">
                                    </v-progress-circular>
                                    <div v-show="!loading">
                                        <h3 >{{resultText}}</h3>
                                    </div>
                                </v-card-text>
                            </v-card>

                        <v-btn
                            v-if="!loading"
                            color="primary"
                            :to="{path:'/'}">
                            Fermer
                        </v-btn>
                        </v-stepper-content>
                    </v-stepper-items>
                </v-stepper>
            </div>
        </v-card-text>
        <v-card-actions>
            <v-btn
                v-if="!started"
                text
                color="secondary"
                @click="startExercise">
                Commencer
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
import axios from 'axios'
import UrlConst from '../services/UrlConst'

export default {
    components: {
    },
    data(){
        return{
            id: this.$route.params.id,
            exercise:
            {
                _id: "",
                title: "",
                coefficient: 0,
                total: 0,
                questions: [
                    {
                        _id: "",
                        coefficient: 0,
                        exerciseId: "",
                        text: "",
                        questionType: "",
                        file: {
                            _id: "",
                            name: "",
                            src: "",
                            type: ""
                        },
                        responses: [
                            {
                                _id: "",
                                text: "",
                                isAnswer: true
                            }
                        ],
                    },
                ],
                startDate: "",
                endDate: ""
            },
            started: false,
            stepperStep: 0,
            userResponse: {
                exerciseId: this.$route.params.id,
                questions: []
                
            },
            selectedResponse: [],
            radioResponse: null,
            result: {
                score: 0,
                total: 0
            },
            resultText: String,
            loading: false,
            file: null,
            questionType:["QCM", "Choix unique"],
        }
    },
    methods: {
        sendResponse(){
            this.loading = true
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.exerciseUrl+UrlConst.responseUrl
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
            
            axios.post(url , this.userResponse,
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then((res) => {
                if(res.status == 200){
                    this.loading = false
                    this.stepperStep+=1
                    this.result = {
                        score: res.data.marks,
                        total: this.exercise.total
                    }
                    this.resultText= "Vous avez eu "+this.result.score+"/"+this.result.total+" à cette exercice."
                }
            }).catch((err)=> {
                this.loading = false
                if(err.response.status == 400){
                    this.resultText = err.response
                }
                else if(err.response.status == 412){
                    this.resultText = "Vous avez déjà répondu à cette exercice."
                }
                else if(err.response.status == 403 || err.response.status == 401){
                    this.resultText = "Vous n'avez pas les droits pour crée des exercices."
                }
                else {
                    this.resultText = err.response.data
                }
                this.stepperStep+=1
            })
        },
        startExercise(){
            this.started = true
            this.stepperStep = this.stepperStep+1
        },
        addResponsesQCMToList(question){
            let res = []
            for(let response of question.responses){
                let isUserResponse = false
                if(this.selectedResponse.includes(response)){
                    isUserResponse = true
                }
                res.push({
                    text: response.text,
                    isAnswer: response.isAnswer,
                    isUserResponse : isUserResponse
                })
            }
            this.userResponse.questions.push({
                questionType: question.questionType,
                coefficient: question.coefficient,
                text: question.text,
                responses: res,
            })
            this.selectedResponse = []
            this.stepperStep = this.stepperStep+1
        },
        addResponseToList(question){
            let res = []
            for(let response of question.responses ){
                let isUserResponse = false
                if(this.radioResponse == response){
                    isUserResponse = true
                }
                res.push({
                    text: response.text,
                    isAnswer: response.isAnswer,
                    isUserResponse : isUserResponse
                })
            }
            this.userResponse.questions.push({
                questionType: question.questionType,
                coefficient: question.coefficient,
                text: question.text,
                responses: res,
            })
            this.selectedResponse = []
            this.stepperStep = this.stepperStep+1
        },
        updateFile(file){
            this.file = file
        },
    },
    created(){
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.exerciseUrl+this.$route.params.id
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
        
        axios.get(url,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then((res) => {
            if(res.status == 200){
                this.exercise= res.data
            }
        })
    },
    destroyed(){
        this.sendResponse()
    }
}
</script>