<template>
    <div>
        <v-toolbar 
        flat
        class="d-flex align-center justify-center"
        color="secondary"
        dark>
            <v-toolbar-title>Réponse à l'éxercice : {{ usersResponse.title }} </v-toolbar-title>
        </v-toolbar>
        <v-tabs
        v-model="tab"
        fixed-tabs>

            <v-tabs-slider color="accent"></v-tabs-slider>
            
            <v-tab>
                <v-icon>mdi-pencil-ruler</v-icon> Réponses des élèves :
            </v-tab>
            <v-tab>
                <v-icon>mdi-chart-bell-curve-cumulative</v-icon> Statistiques des élèves :
            </v-tab>
        </v-tabs>

        <v-row>
            
            <v-col cols="1">
            </v-col>
            <v-col cols="10">
                <v-tabs-items v-model="tab">
                    <v-tab-item>
                        <v-toolbar 
                        flat
                        outlined
                        class="d-flex align-center justify-center">
                            <v-toolbar-title>Moyenne des élèves {{ average }}/{{ total }} </v-toolbar-title>
                        </v-toolbar>
                        <v-layout row wrap justify-center v-for="(userResponse, i ) in usersResponse.userResponses" :key="i">
                            <UserResponseCard :studentExercise="userResponse" :isAdmin="true"/>
                        </v-layout>
                    </v-tab-item>
                    <v-tab-item>
                        <v-card outlined class=" d-flex align-center justify-center pa-5">
                            <v-card-text>
                                <v-sparkline
                                v-if="marksList.length > 1"
                                auto-draw
                                :fill="false"
                                :gradient="selectedGradient"
                                :line-width="1"
                                :padding="15"
                                :smooth="false"
                                :labels="userLabels"
                                :value="marksValue">
                                    <template v-slot:label="userLabels">
                                        {{ userLabels.value }}
                                    </template>
                                </v-sparkline>
                                
                                <span v-else-if="marksList.length==1">{{marksList[0].user}} : {{marksList[0].marks}}</span>
                                <span v-else>Aucune répone n'as encore été enregistré.</span>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                </v-tabs-items>
            </v-col>
            <v-col cols="1">
            </v-col>
        </v-row>

    </div>
</template>
<script>
import UserResponseCard from '../components/UserResponseCard.vue'
import axios from 'axios'
import UrlConst from '../services/UrlConst'

export default {
    components:{
        UserResponseCard
    },
    data(){
        return {
            tab: 0,
            loading: true,
            usersResponse: {},
            selectedGradient: ['#164A41', '#4D774E'],
            average: 0,
            total: 0,
            marksList: []
        }
    },
    computed:{
        marksValue(){
            return this.marksList.map(x=>x.marks)
        },
        userLabels(){
            return this.marksList.map(x=> x.user+" : "+x.marks )
        }
    },
    methods: {

    },
    created(){
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.exerciseUrl+UrlConst.userResponseUrl+this.$route.params.id
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
        
        axios.get(url,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then((res) => {
            if(res.status == 200){
                this.usersResponse = res.data
                let total = 0
                for(let response of this.usersResponse.userResponses){
                    total+= response.marks
                    
                    url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+response.userId
                    let encryptedToken = localStorage.token
                    let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
                    
                    axios.get(url,
                    { headers: {
                        'Content-Type': 'application/json',
                        'Authorization': "Bearer "+ token
                    }}).then((res) => {
                        if(res.status == 200){
                            this.marksList.push({marks: response.marks, user: res.data.firstName})
                        }
                    }).catch(() =>{
                        this.marksList.push({marks: response.marks, user: ""})
                    })

                    
                }
                if(this.usersResponse.userResponses.length>0) this.total = this.usersResponse.userResponses[0].total
                this.average = total/this.usersResponse.userResponses.length
                if(isNaN(this.average)) this.average=0
                
                
                this.loading = false
            }
        })
    }
}
</script>