<template>
    <div>
        <v-toolbar 
        flat
        class="d-flex align-center justify-center"
        color="secondary"
        dark>
            <v-toolbar-title v-if="!loading">Exercices du cours : {{groupe.name}} </v-toolbar-title>
        </v-toolbar>

        <v-row class="justify-center">
            <v-col cols="3">
                <v-skeleton-loader
                v-show="loading"
                type="list-item-three-line, article">
                </v-skeleton-loader>
            </v-col>
        </v-row>
        <v-container v-show="!loading">
            <ExerciseTeacherView v-if="admin"/>
            <ExerciseStudentView v-else/>  
        </v-container>
        
        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
            <v-btn text color="error" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>
    </div>
</template>
<script>
import ExerciseStudentView from '../components/ExerciseStudentView'
import ExerciseTeacherView from '../components/ExerciseTeacherView'
import UrlConst from '../services/UrlConst'
import axios from 'axios'

export default {
    components: {
        ExerciseStudentView,
        ExerciseTeacherView,
    },
    data: () => {
        return {
            loading: true,
            admin: false,
            snackbar: false,
            snackbarText: "",
            groupe: {
                _id: String,
                name: String,
                organisationId: String,
                description: String
            },
        }
    },
    methods: {
    },
    created(){
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.groupeUrl+this.$route.params.id
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

        axios.get(url,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then((res) => {
            if(res.status == 200){
                this.groupe = res.data
                url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+this.groupe.organisationId+UrlConst.isAdminUrl
                
                axios.get(url,
                { headers: {
                    'Content-Type': 'application/json',
                    'Authorization': "Bearer "+ token
                }}).then((res) => {
                    if(res.status == 200){
                        this.admin = res.data
                        this.loading = false
                    }
                })
            }
        })
        

    }
}
</script>
