<template>
    <div>
        <v-toolbar 
        flat
        class="d-flex align-center justify-center"
        color="secondary"
        dark>
            <v-toolbar-title v-if="!loader">Forum du groupe : {{groupe.name}} </v-toolbar-title>
            <v-toolbar-title v-else>Forum du groupe : ... </v-toolbar-title>
        </v-toolbar>

        <v-layout row wrap ma-10 justify-center v-if="!loader">
            <ForumCard v-for="forum in forums" :key="forum._id" :forum="forum"/>
        </v-layout>

        <v-skeleton-loader
        v-else
        type="list-item-three-line, article">
        </v-skeleton-loader>

        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
            <v-btn text color="error" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>

        <ForumCreationPopUp class="mt-3" :groupeId="groupeId" :organisationId="organisationId" />
    </div>
</template>
<script>

import ForumCreationPopUp from "../components/ForumCreationPopUp.vue"
import ForumCard from "../components/ForumCard.vue"
import axios from 'axios'
import UrlConst from '../services/UrlConst'

export default {
    components:{
        ForumCreationPopUp,
        ForumCard
    },
    data(){
        return {
            loader: true,
            snackbarText: "",
            snackbar: false,
            groupe: {
                _id: String,
                name: String,
                organisationId: String,
                description: String
            },
            forums: [],
            groupeId: this.$route.params.groupeId,
            organisationId: this.$route.params.organisationId
        }
    },
    methods: {

    },
    created(){
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.groupeUrl+this.groupeId
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
        
        axios.get(url ,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then((res) => {
            if(res.status == 200){
                this.groupe= res.data
            }
        }).catch(()=> {
            this.snackbarText = "Une erreur est survenue, veuillez réessayer plus tard."
            this.snackbar = true
        })

        url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.groupeUrl+UrlConst.forumUrl+"getByGroup/"+this.groupeId
        
        axios.get(url,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then((res) => {
            if(res.status == 200){
                this.forums= res.data
                this.loader=false
            }
        }).catch(()=> {
            this.snackbarText = "Une erreur est survenue, veuillez réessayer plus tard."
            this.snackbar = true
        })
    }
}
</script>