<template>
    <div justify-center align>
        <v-toolbar 
        flat
        class="d-flex align-center justify-center"
        color="secondary"
        dark>
            <v-toolbar-title>Forum</v-toolbar-title>
        </v-toolbar>
        
        <v-row no-gutters v-if="!loader">
            <v-col cols="2" class="d-flex align-center justify-center">
            </v-col>
            <v-col cols="8">
                <v-card class="pa-5">
                    <v-card-title>
                        <v-row justify-space-around>
                            <v-col :cols="titleSize">
                                <v-row>
                                    <v-col cols="3">
                                        <v-avatar :color="rngColor" size="100">
                                            <span class="font-weight-bold white--text text-h5">{{initials}}</span>
                                        </v-avatar>
                                    </v-col>
                                    <v-col cols="9" class="d-flex align-center justify-center text-wrap">
                                        {{forum.name}}
                                    </v-col>
                                </v-row>
                            </v-col>
                            <v-col :cols="buttonSize">
                                <template v-if="isCreator">
                                        <v-btn color="error" rounded large @click="deleteForum()" class="ma-2">
                                            Supprimer le forum
                                            <v-icon>mdi-trash-can-outline</v-icon>
                                        </v-btn>
                                        
                                        <v-btn
                                        color="error"
                                        v-show="!forum.statut_close"
                                        rounded
                                        large
                                        class="pa-3"
                                        @click="closeForum()">
                                            Clore le sujet
                                            <v-icon>mdi-close-outline</v-icon>
                                        </v-btn>
                                        <v-btn
                                        color="secondary"
                                        v-show="forum.statut_close"
                                        rounded
                                        large
                                        class="pa-3"
                                        @click="openForum()">
                                            Ré-ouvrir le foum
                                            <v-icon>mdi-close-outline</v-icon>
                                        </v-btn>
                                </template>
                            </v-col>
                        </v-row>
                    </v-card-title>
                        <v-row>
                            <v-toolbar 
                            class="mt-3"
                            v-if="forum.statut_close"
                            flat
                            color="secondary"
                            dark>
                                <v-spacer></v-spacer>
                                <v-toolbar-title>Résolu</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                        </v-row>
                    <v-card-subtitle class="mt-5">
                        <v-row>Ouvert le {{formatDate(forum.createdAt)}}, par {{userInfo.firstName}} {{userInfo.lastName}}</v-row>
                        <v-row>Commentaires du forum :</v-row>
                    </v-card-subtitle>
                    <v-card-text>
                        <template v-for="post in forum.posts">
                            <ForumPostCard :post="post"  :key="post.postId"/>
                        </template>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn
                        v-show="!textArea"
                        rounded
                        :disabled="forum.statut_close"
                        color="secondary"
                        @click="textArea=true"
                        large>
                            Ajouter un commentaire
                            <v-icon>mdi-plus</v-icon>
                        </v-btn>
                        <v-row 
                        class="my-3"
                        v-show="textArea">
                            <v-col cols="12" class="mt-5">
                                <v-row >
                                    <h3>Votre commentaire :</h3>
                                </v-row>
                                <v-row >
                                    <v-textarea
                                    class="pa-3"
                                    placeholder="Répondez à la question du forum ici ..."
                                    rows="2"
                                    auto-grow
                                    solo
                                    counter
                                    clearable
                                    prepend-inner-icon="mdi-comment-text-multiple-outline"
                                    v-model="newPost"
                                    ></v-textarea>                                
                                </v-row>
                            </v-col>
                            <v-row class="mt-5">
                                <v-btn
                                color="error"
                                rounded
                                large
                                class="pa-3"
                                @click="closeNewComment()">
                                    Fermer
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn
                                color="secondary"
                                rounded
                                large
                                class="pa-3"
                                @click="sendComment()">
                                    Envoyer
                                    <v-icon>mdi-send</v-icon>
                                </v-btn>
                            </v-row>
                        </v-row>
                    </v-card-actions>
                </v-card>
            </v-col>
            <v-col cols="2">

            </v-col>
        </v-row>
        <v-skeleton-loader
        v-else
        class="mx-10"
        height="600px"
        type="card, actions"
        ></v-skeleton-loader>
        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
            <v-btn text color="error" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>
    </div>
</template>
<script>
import axios from 'axios'
import ForumPostCard from '../components/ForumPostCard.vue'
import UrlConst from '../services/UrlConst'

export default {
    components:{
        ForumPostCard
    },
    data(){
        return {
            loader: true,
            snackbarText: "",
            snackbar: false,
            forumId: this.$route.params.forumId,
            forum: {
                statut_close: false,
                createdAt: Date,
                _id: String,
                name: String,
                groupeId: String,
                organisationId: String,
                creatorId: String,
                posts: [],
            },
            userInfo: {
                _id: String,
                firstName: String,
                lastName: String,
                email: String
            },
            txtAreaRule: [v=> !!v || "Ne laissez pas le champs vide."],
            textArea: false,
            newPost: "",
            isCreator: false,
            colors: [
                "red",
                "blue",
                "green",
                "indigo",
                "purple",
                "teal",
                "orange",
                "brown",
                "deep-orange",
                "blue-grey",
                "cyan"
            ],
            rngColor:"",
            initials: ""
        }
    },
    methods: {
        formatDate(date){
            let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            return new Date(date).toLocaleDateString("fr-FR", options)
        },
        sendComment(){
            if(this.newPost.length == 0){
                this.snackbarText = "Ne laissez pas le champs que vous voulez envoyer vide."
                this.snackbar = true
            }else{
                let body = {
                    forumId: this.forumId,
                    content: this.newPost
                }
                let encryptedToken = localStorage.token
                let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
                
                let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.groupeUrl+UrlConst.forumUrl+"createPost"
                axios.post(url, body,
                { headers: {
                    'Content-Type': 'application/json',
                    'Authorization': "Bearer "+ token
                }}).then((res) => {
                    if(res.status == 200){
                        this.$router.go()
                    }
                }).catch((err)=> {
                    this.snackbarText = err.response
                    this.snackbar = true
                })
            }
        },
        closeNewComment(){
            this.newPost = ""
            this.textArea = false
        },
        closeForum(){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.groupeUrl+UrlConst.forumUrl+"close"
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
            
            axios.put(url, {
                forumId: this.forumId
            },
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then(async (res) => {
                if(res.status == 200){
                    this.forum.statut_close = true
                    this.snackbarText = "Le forum a été fermé."
                    this.snackbar = true
                }
            }).catch((err)=> {
                if(err.response.status == 404){
                    this.snackbarText = "Problème d'authentification. Veuillez vous déconnecter, puis vous reconnecter."
                    this.snackbar = true
                }
                else if(err.response.status == 412){
                    this.snackbarText = "Problème avec le forumn, veuillez recharger votre page."
                    this.snackbar = true
                }
                else if(err.response.status == 403){
                    this.snackbarText = "Vous n'êtes pas autorisé à fermer ce forum."
                    this.snackbar = true
                }
                else{
                    this.snackbarText = err.response.message
                    this.snackbar = true
                }
            })
        },
        openForum(){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.groupeUrl+UrlConst.forumUrl+"open"
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
            
            axios.put(url, {
                forumId: this.forumId
            },
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then(async (res) => {
                if(res.status == 200){
                    this.forum.statut_close = false
                    this.snackbarText = "Le forum a été réouvert."
                    this.snackbar = true
                }
            }).catch((err)=> {
                if(err.response.status == 404){
                    this.snackbarText = "Problème d'authentification. Veuillez vous déconnecter, puis vous reconnecter."
                    this.snackbar = true
                }
                else if(err.response.status == 412){
                    this.snackbarText = "Problème avec le forumn, veuillez recharger votre page."
                    this.snackbar = true
                }
                else if(err.response.status == 403){
                    this.snackbarText = "Vous n'êtes pas autorisé à ouvrir ce forum."
                    this.snackbar = true
                }
                else{
                    this.snackbarText = err.response.message
                    this.snackbar = true
                }
            })
        },
        deleteForum(){
            
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.groupeUrl+UrlConst.forumUrl+"delete"
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
            
            axios.delete(url,
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }, data: {
                forumId: this.forumId
            }}).then(async (res) => {
                if(res.status == 200){
                    this.snackbarText = "Le forum a été supprimer."
                    this.snackbar = true
                    setTimeout(() => {
                        this.$router.go(-1)
                    }, 1000);
                }
            }).catch((err)=> {
                if(err.response.status == 404){
                    this.snackbarText = "Problème d'authentification. Veuillez vous déconnecter, puis vous reconnecter."
                    this.snackbar = true
                }
                else if(err.response.status == 412){
                    this.snackbarText = "Problème avec le forumn, veuillez recharger votre page."
                    this.snackbar = true
                }
                else if(err.response.status == 403){
                    this.snackbarText = "Vous n'êtes pas autorisé à supprimer ce forum."
                    this.snackbar = true
                }
                else{
                    this.snackbarText = err.response.message
                    this.snackbar = true
                }
            })
        },
        getCreatorInitials(){
            this.initials = this.userInfo.firstName.substring(0,1)+this.userInfo.lastName.substring(0,1)
        },
    },
    created(){
        this.rngColor = this.colors[Math.floor(Math.random() * this.colors.length)]

        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.groupeUrl+UrlConst.forumUrl+this.forumId
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

        axios.get(url,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then((res) => {
            if(res.status == 200){
                this.forum = res.data
                url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+this.forum.creatorId

                axios.get(url ,
                { headers: {
                    'Content-Type': 'application/json',
                    'Authorization': "Bearer "+ token
                }}).then(async (res) => {
                    if(res.status == 200){
                        this.userInfo = res.data
                        this.getCreatorInitials()
                        
                        url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+"info"
                        axios.get(url,
                        { headers: {
                            'Content-Type': 'application/json',
                            'Authorization': "Bearer "+ token
                        }}).then(async (res) => {
                            if(res.status == 200){
                                if(res.data._id == this.forum.creatorId){
                                    this.isCreator = true
                                }
                                this.loader = false
                            }
                        })
                    }
                })
            }
        }).catch((err)=> {
            this.snackbarText = err.response.data.message
            this.snackbar = true
        })
        

        url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+"info"
        axios.get(url,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then(async (res) => {
            if(res.status == 200){
                if(res.data._id == this.forum.creatorId){
                    this.isCreator = true
                }
                this.loader = false
            }
        })

    },
    computed:{
        titleSize(){
            return this.isCreator ? 8 : 12 
        },
        buttonSize(){
            return this.isCreator ? 4 : 0 
        }
    }
}
</script>