<template>
    <div>     
        <v-toolbar 
        flat
        color="secondary"
        dark>
            <v-col cols="3">

            </v-col>
            <v-col cols="6" class="d-flex align-center justify-center">
                <v-toolbar-title v-if="!loading">Organisation : {{organisation.name}} </v-toolbar-title>
            </v-col>
            <v-col cols="3" class="d-flex justify-start" v-if="!loading">
                <OrganisationUpdatePopUp v-if="isLessonPopUpVisible" :organisationId="organisationId" />
            </v-col>
            
        </v-toolbar>
        <v-row class="justify-center">
            <v-col cols="3">
                <v-skeleton-loader
                v-show="loading"
                type="list-item-three-line, article">
                </v-skeleton-loader>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="1"></v-col>

            <v-col cols="10"  v-show="!loading">
                <v-layout row wrap justify-center>
                    <v-flex  ma-5 sm12 md6 lg4 v-for="groupe in organisation.groupes" :key="groupe._id">
                        <v-card elevation="4">
                            <v-card-title>
                                <h3 >{{groupe.name}}</h3>
                                <v-spacer></v-spacer>
                                <v-btn color="error" icon v-if="organisation.isAdmin" outlined @click="deleteGroupe(groupe._id)">
                                    <v-icon>mdi-trash-can-outline</v-icon>
                                </v-btn>
                            </v-card-title>
                            <v-card-text>
                                <v-layout row  wrap ma-3>
                                    <p>  {{groupe.description}}</p>
                                </v-layout>
                        </v-card-text>
                        <v-card-actions>
                                <v-layout column>
                                    <v-btn
                                    :to="{path:'/lesson/'+groupe.lessonId}"
                                    color="accent"
                                    class="pa-5 ma-3"
                                    rounded
                                    large
                                    >
                                        Continuer le cours
                                        <v-icon class="mx-3"> mdi-bookshelf </v-icon>
                                    </v-btn>
                                    <v-btn
                                    :to="{path:'/exercise/'+groupe._id}"
                                    color="secondary" 
                                    class="pa-5 ma-3"
                                    rounded
                                    large
                                    >
                                        <h4 class="font-weight-bold">Voir les exercices du cours</h4>
                                        <v-icon class="align-center justify-end"> mdi-pencil-ruler </v-icon>
                                    </v-btn>
                                    <v-btn
                                    :to="{path:'/forum/'+organisation._id+'/'+groupe._id}"
                                    color="primary" 
                                    class="pa-5 ma-1"
                                    rounded
                                    large
                                    >
                                        <h4 class="font-weight-bold">Voir les forums du cours</h4>
                                        <v-icon class="mx-1"> mdi-account-group-outline </v-icon>
                                    </v-btn>
                                </v-layout>
                        </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout> 
        
            <LessonCreationPopUp  v-if="isLessonPopUpVisible" :organisationId="organisation._id" :organisationName="organisation.name"/>

            </v-col>
            <v-col cols="1"></v-col>
        </v-row>

        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
            <v-btn text color="error" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>
    </div>
</template>
<script>
import LessonCreationPopUp from '../components/LessonCreationPopUp'
import OrganisationUpdatePopUp from '../components/OrganisationUpdatePopUp'
import axios from 'axios'
import UrlConst from '../services/UrlConst'

export default {
    components: {
        LessonCreationPopUp,
        OrganisationUpdatePopUp
    },
    data(){
        return {
            loading: true,
            snackbar: false,
            snackbarText: "",
            organisationId: this.$route.params.id,
            organisation: {
                _id: String,
                name: String,
                groupes : [],
                isAdmin: Boolean
            },
        }
    },
    methods: {
        deleteGroupe(id){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.groupeUrl+id
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

            axios.delete(url ,
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then(() => {
                this.$router.go()
            }).catch((err)=> {
                if(err.response.status == 403){
                    this.snackbarText = "Vous n'avez pas les droits pour supprimer cette leçon"
                }
                else {
                    this.snackbarText = err.response.data
                }
                this.snackbar = true
            })
        },
    },
    computed:{
        isLessonPopUpVisible: function(){
            return this.organisation.isAdmin && !this.loading
        }
    },
    created(){
        this.rng = Math.random(5)
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+"all-groupe/"+this.organisationId
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
        
        axios.get(url ,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then((res) => {
            if(res.status == 200){
                this.organisation= res.data
                this.loading = false
            }
        }).catch((err)=> {
            console.error(err.response)
            this.snackbarText = "Erreur lors de la récupération des cours."
            this.snackbar = true
        })
    },
}
</script>
