<template>
    <v-container fluid class="pa-10">
      <v-row class="d-flex align-center justify-center ma-10">
          <h2 class="welcome_title">Bienvenue sur comme un cactus</h2>
      </v-row>    
      
        <v-row class="d-flex align-center justify-center ma-10">
          <span class="welcome_message">
            Nous avons mis en place, une plateforme de cours en ligne, permettant de de créer une « organisation », y ajouter des utilisateurs, définir des cours et y assigner des exercices. Cette solution permet à des enseignants de faire des cours et de suivre leur progression, et y ajouter des commentaires, permettant ainsi une personnalisation de l’enseignement. 
          </span>
        </v-row>
        <v-row class="d-flex align-center justify-center mt-10">
          <v-btn
          v-if="!isLogged"
          rounded
          color="primary">
            Commencer 
            <v-icon class="ml-3">mdi-chevron-right</v-icon>
          </v-btn>
          
          <v-btn
          v-else
          rounded
          :to="{path:'/course/'}"
          color="primary">
            Voir mes cours 
            <v-icon class="ml-3">mdi-chevron-right</v-icon>
          </v-btn>
        </v-row>
    </v-container>
</template>

<script>

export default {
  name: 'Home',
  components: {    
  },
  data: () => {
    return {
      isLogged: false
    }
  },
  created(){
    if(localStorage.token){
      this.isLogged = true
    }
  }
}
</script>

<style scoped>
  .bg_img{
    background-image: url('../assets/bg_img.png');
    background-repeat: no-repeat;
  }
  p{
    color: black;
  }
  h1{
    color: black;
  }
  h2{
    color: black;
  }
  h3{
    color: black;
  }
  h4{
    color: black;
  }
  v-card{
    border-radius:50px;
  }
  .welcome_title{
    font-size: 5em;
  }
  .welcome_message{
    font-size: 1.3em;
    text-align: center;
  }
</style>