<template>
    <v-container>
        <v-toolbar 
        flat
        class="d-flex align-center justify-center"
        color="secondary"
        dark>
            <v-toolbar-title v-if="!loader || lesson==null || lesson==undefined">{{lesson.title}}</v-toolbar-title>
            <v-toolbar-title v-else>Chargement ...</v-toolbar-title>
        </v-toolbar>

        <v-card
        elevation="1"
        flat
        tile>
            <v-window
            v-if="!loader"
            v-model="window"
            reverse>
            <v-window-item
            v-for="chapter in lesson.chapters" 
            :key="chapter._id">
                <v-card>
                    <v-card-text>
                        <v-row
                        class="mb-4 pa-5"
                        align="center">
                            <v-avatar
                            color="grey"
                            class="mr-4"
                            ></v-avatar>
                            <h1>Chapitre : {{chapter.title}}</h1>
                        </v-row>
                        <v-divider full-width></v-divider>
                        <v-container class="d-flex align-center justify-center" v-if="chapter.file">
                            <FilePreview :file="chapter.file"/>
                        </v-container>
                        <v-flex xs12 justify-center  my-3>
                            <h3 class="my-3">Contenu :</h3>
                            <span class="lesson_content">{{chapter.content}}</span>
                        </v-flex>
                    </v-card-text>
                </v-card>
            </v-window-item>
            <v-window-item v-if="lesson.chapters.length==0">
                <v-card>
                    <v-card-title primary-title>
                        Il y a eu une erreur lors de la création de la leçon. Veuillez recréer votre groupe.
                    </v-card-title>
                </v-card>
            </v-window-item>
            </v-window>

            <v-card-actions class="justify-space-between">
            <v-btn
            text
            @click="prev">
                <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-item-group
                v-model="window"
                class="text-center"
                mandatory>
                <v-item
                v-for="(n,i) in this.lesson.chapters.length" 
                :key="i"
                v-slot="{ active, toggle }">
                <v-btn
                :input-value="active"
                icon
                @click="toggle">
                    <v-icon>mdi-record</v-icon>
                </v-btn>
                </v-item>
            </v-item-group>
            <v-btn
            text
            @click="next">
                <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
            </v-card-actions>
        </v-card>
        <LessonUpdate :lesson="lesson" v-if="isAdmin"/>
    </v-container>
</template>
<script>
import FilePreview from '../components/FilePreview'
import LessonUpdate from '../components/LessonUpdate.vue'
import UrlConst from '../services/UrlConst'
import axios from 'axios'


export default {
    components: {
        FilePreview,
        LessonUpdate
    },
    data(){
        return {
            window: 1,
            loader: true,
            lessonId: this.$route.params.id,
            length: 0,
            lesson: {
                _id: String,
                title: String,
                creator: String,
                chapters: [{
                    _id: String,
                    title: String,
                    content: String,
                    file: {
                        _id: String,
                        src: String,
                        name: String,
                        type: String
                    },
                }]
            },
            isAdmin: false
        }
    },
    methods: {
        next () {
            this.window = this.window + 1 === this.lesson.chapters.length
            ? 0
            : this.window + 1
        },
      prev () {
        this.window = this.window - 1 < 0
          ? this.lesson.chapters.length - 1
          : this.window - 1
      },
    },

    created() {
        if(this.$route.params.id != "undefined"){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.lessonUrl+this.$route.params.id
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
            
            axios.get(url ,
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then((res) => {
                if(res.status == 200){
                    this.lesson = res.data
                    this.window = this.lesson.chapters.length
                    this.loader = false

                    url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+UrlConst.userInfoUrl

                    axios.get(url ,
                    { headers: {
                        'Content-Type': 'application/json',
                        'Authorization': "Bearer "+ token
                    }}).then(async (res) => {
                        if(res.status == 200){
                            this.isAdmin = (res.data._id == this.lesson.creator)
                        }
                    }).catch((err) => {
                        console.error(err)
                    })
                }
            }).catch((err)=> {
                console.error(err)
                this.snackbarText = "Une erreur est survenue, veuillez réessayer plus tard."
                this.snackbar = true
            })
        }else{
            this.lesson  = {
                title: "Cette leçon n'existe pas",
                chapters :[
                    {
                        title: "L'auteur du cour, doit en recrée un et supprimer celui ci.",
                        content: ""
                    }
                ]
            }
            this.loader = false
        }
    }
}
</script>
<style>
    .lesson_content{
        font: 1.3em "Fira Sans", sans-serif;
    }
</style>