<template>
    <v-container fluid class="full-height">
            <v-row v-if="!loader" class="full-height">
                <v-col cols="3" class="border">
                    <v-toolbar 
                    flat
                    color="secondary"
                    dark>
                        <v-spacer></v-spacer>
                        <v-toolbar-title>Contact :</v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                    <v-list-item>
                        <v-list-item-content>
                        <v-list-item-title class="text-h6">
                            <v-row class="d-flex align-center justify-center" no-gutters>
                                
                                <v-col cols="4" >
                                    <v-avatar :color="rngColor" size="100">
                                        <span class="font-weight-bold white--text text-h5"> {{initials}} </span>
                                    </v-avatar>
                                </v-col>
                                <v-col cols="8" class="d-flex align-center">
                                    {{userInfo.firstName}} {{userInfo.lastName}} 
                                </v-col>

                            </v-row>
                        </v-list-item-title>
                        <v-list-item-subtitle>
                            {{userInfo.email}}
                        </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    
                    <v-divider></v-divider>
                        <v-list-item>
                            <v-list-item-content>
                                <v-col cols="12">
                                    <v-row>
                                        Rechercher 
                                        <v-icon class="mx-5">mdi-search-web</v-icon>
                                    </v-row>
                                    <v-row>
                                        <v-text-field
                                        solo
                                        v-model="searchLabel"
                                        outlined
                                        placeholder="Rechercher un contact">
                                        </v-text-field>
                                    </v-row>
                                </v-col>
                            </v-list-item-content>
                        </v-list-item>
                    <v-divider></v-divider>
                    <v-container>
                        <v-skeleton-loader
                        v-if="contactLoader"
                        type="list-item-avatar, list-item-two-line">
                        </v-skeleton-loader>
                        <v-container v-else class="pa-0">
                            <v-list nav>
                            <v-subheader>Liste de contacts :</v-subheader>

                            <v-virtual-scroll
                            :items="filteredContact"
                            :item-height="60"
                            height="400">
                                <template v-slot:default="{ item }">
                                    <v-list-item :key="item._id" @click="receiverId = item._id">
                                        <ConctactCard :contact="item" />
                                    </v-list-item>
                                </template>
                            </v-virtual-scroll>
                            </v-list>
                        </v-container>
                            
                    </v-container>
                </v-col>
                <v-divider></v-divider>
                <v-col cols="9" class="border">
                    <Conversation :userId="userInfo._id" :receiverId="receiverId" v-if="receiverId!=''"/>
                    <v-toolbar
                    v-else
                    flat
                    class="d-flex align-center justify-center"
                    color="secondary"
                    dark>
                        <v-toolbar-title>Aucune conversation de disponible</v-toolbar-title>
                    </v-toolbar>
                </v-col>
            </v-row>
            <v-skeleton-loader
            v-else
            type="list-item-avatar, divider, list-item-three-line, card-heading, image, actions"
            ></v-skeleton-loader>
    </v-container>
</template>
<script>
import ConctactCard from '../components/ConctactCard.vue'
import Conversation from '../components/Conversation.vue'
import UrlConst from '../services/UrlConst'
import axios from 'axios'

export default {
    components:{
        ConctactCard,
        Conversation,
    },
    data(){
        return {
            loader: true,
            userInfo: {
                _id: String,
                lastName: String,
                email: String,
                firstName: String,
            },
            searchLabel: "",
            colors: [
                "red",
                "blue",
                "green",
                "indigo",
                "purple",
                "teal",
                "orange",
                "brown",
                "deep-orange",
                "blue-grey",
                "cyan"
            ],
            rngColor:"",
            initials: "",
            contacts: [{
                _id: String,
                firstName: String,
                lastName: String,
                email: String
            }],
            receiverId: '',
            contactLoader: true,
            filteredList: []
        }
    },
    methods: {
        getCreatorInitials(){
            if(this.userInfo!=undefined) this.initials = this.userInfo.firstName.substring(0,1)+this.userInfo.lastName.substring(0,1)
        },
        userInitials(){
            return this.userInfo.firstName.substring(0,1)+this.userInfo.lastName.substring(0,1)
        },
        randomColor(){
            return this.colors[Math.floor(Math.random() * this.colors.length)];
        },
    },
    computed:{
        filteredContact(){
            return this.contacts.filter(contact => 
                contact.lastName.toLowerCase().match(this.searchLabel.toLowerCase()) ||
                contact.firstName.toLowerCase().match(this.searchLabel.toLowerCase() )
            )
        }
    },
    created(){
        this.rngColor = this.randomColor()
        
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+UrlConst.userInfoUrl
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

        axios.get(url ,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then(async (res) => {
            try{
                if(res.status == 200){
                    this.userInfo = res.data
                    await this.getCreatorInitials()

                    url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+UrlConst.contactUrl

                    axios.get(url ,
                    { headers: {
                        'Content-Type': 'application/json',
                        'Authorization': "Bearer "+ token
                    }}).then(async (res) => {
                        if(res.status == 200){
                            this.contacts = res.data
                            if(this.contacts.length>0){
                                this.receiverId = this.contacts[0]._id
                            }
                            this.contactLoader = false
                        }
                    })
                }
            } catch(err){
                console.error(err)
            }
            finally{
                this.loader=false
            }
        })
    }
}
</script>
<style>
    .border{
        border-right: 1px solid black;
        margin: 0px;
        padding: 0px;
    }
    .full-height {
        height: 100%;
    }
</style>