<template>
    <div>
        <v-toolbar 
        flat
        color="secondary"
        dark>
            <v-spacer></v-spacer>
            <v-toolbar-title>Liste des organisations auxquelles vous appartenez</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-row class="ma-3 justify-center">
            <v-col cols="3">
                <v-skeleton-loader
                v-show="loading"
                type="table-heading, list-item-two-line">
                </v-skeleton-loader>
            </v-col>
        </v-row>
        <div  v-show="!loading">
            <v-layout row wrap ma-10 justify-center>
                <v-flex  ma-5 sm12 md6 lg3 v-for="organisation in organisationList" :key="organisation._id">
                    <v-card elevation="4" :to="{path:'/organisation/'+organisation._id}" class="pa-6">
                        <v-card-title class="d-flex align-center justify-center">
                            <h3 class="text-wrap d-inline">
                                {{organisation.name}}
                            </h3>
                            
                        </v-card-title>
                    </v-card>
                </v-flex>
            </v-layout>
            <OrganisationCreationPopUp v-if="isAdmin"/>
        </div>
        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
        <v-btn text color="error" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>
    </div>
</template>
<script>
import OrganisationCreationPopUp from '../components/OrganisationCreationPopUp.vue'
import axios from 'axios'
import UrlConst from '../services/UrlConst'


export default {
    components: {
        OrganisationCreationPopUp
    },
    data(){
        return {
            snackbar: false,
            snackbarText: "",
            drawer: false,
            organisationList: [],
            orga: {
                _id: String,
                name: String,
                groupeList: [{
                    _id: String,
                    name: String,
                    details: String
                }]
            },
            loading: true,
            userInfo: {

            },
            isAdmin: false
        }
    },
    methods: {
    },
    created(){
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+UrlConst.userInfoUrl
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

        
        axios.get(url ,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then(async (res) => {
            if(res.status == 200){
                this.userInfo = res.data
                if(this.userInfo.role.toLowerCase()=="admin" || this.userInfo.role.toLowerCase()=="creator"){
                    this.isAdmin=true
                }
            }
        }).catch((err)=> {
            if(err.response.status == 401){
                this.snackbarText = "Votre token a expiré, nous allons vous déconnecter."
                this.snackbar = true
            }
        })

        url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+"myOrganisations"

        axios.get(url ,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then((res) => {
            if(res.status == 200){
                this.organisationList= res.data
                this.loading = false
            }
        }).catch((err)=> {
            console.error(err.response)
            this.snackbarText = "Erreur lors de la récupération des organisations. Veuillez vérifier que vous êtes sur le bon lien."
            this.snackbar = true
            this.loading = false
        })
    }
}
</script>