<template>
    <div>
        <h1 class="d-flex align-center justify-center">La page sur laquelle vous voulez vous rendre n'existe pas</h1> 
    </div>
</template>
<script>

export default {
    data(){
        return {
            
        }
    },
    methods: {
        
    }
}
</script>