<template>
    <div>
        <v-toolbar 
        flat
        color="secondary"
        dark>
            <v-spacer></v-spacer>
            <v-toolbar-title>Page de profil</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-row>
            <v-col cols="3">

            </v-col>
            
            <v-col cols="6">
                <v-skeleton-loader
                v-show="loading"
                type="article, actions"></v-skeleton-loader>

                <v-layout row wrap v-show="!loading">
                    <v-row class="mb-1 mt-5">
                        <v-col cols="12" class="my-1">
                            <v-row class="mx-2">
                                <h3>Addresse mail :</h3>
                            </v-row>
                            <v-row >
                                <v-text-field
                                class="ma-2"
                                required
                                solo
                                readonly
                                outlined
                                prepend-inner-icon="mdi-email"
                                v-model="userInfo.email"
                                ></v-text-field>                                
                            </v-row>
                        </v-col>

                        <v-divider class="ma-1"></v-divider>

                        <v-col cols="12" class="my-1">
                            <v-row class="mx-2">
                                <h3>Nom :</h3>
                            </v-row>
                            <v-row >
                                <v-text-field
                                class="ma-2"
                                required
                                solo
                                readonly
                                outlined
                                v-model="userInfo.lastName"
                                ></v-text-field>                                
                            </v-row>
                        </v-col>

                        <v-col cols="12" class="my-1">
                            <v-row class="mx-2">
                                <h3>Prénom :</h3>
                            </v-row>
                            <v-row >
                                <v-text-field
                                class="ma-2"
                                required
                                solo
                                readonly
                                outlined
                                v-model="userInfo.firstName"
                                ></v-text-field>                                
                            </v-row>
                        </v-col>

                        <v-divider class="ma-1"></v-divider>

                        <v-col cols="12" class="my-1">
                            <v-form 
                            ref="form"
                            v-model="passwordValid">
                                <v-row class="mx-2">
                                    <h3>Modifier votre mot de passe :</h3>
                                </v-row>
                                <v-row>
                                    <v-text-field
                                    class="ma-2"
                                    placeholder="Mot de passe"
                                    required
                                    outlined
                                    :type="passwordShow ? 'text' : 'password'"
                                    :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'" 
                                    prepend-inner-icon="mdi-lock"
                                    @click:append="passwordShow = !passwordShow"
                                    v-model="password"
                                    :rules="passwordRule"
                                    solo>
                                    </v-text-field>
                                </v-row>
                                <v-row class="d-flex align-center justify-center">
                                    <v-btn
                                    rounded
                                    :disabled="!passwordValid"
                                    @click="updPassword()"
                                    color="primary">
                                        Modifier le mot de passe
                                        <v-icon>mdi-update</v-icon>
                                    </v-btn>
                                </v-row>
                            </v-form>
                        </v-col>

                        <v-divider class="ma-1"></v-divider>

                        <v-col cols="12" class="my-1">
                            <v-row class="mx-2">
                                <h3>Née le  :</h3>
                            </v-row>
                            <v-row>
                                <v-date-picker
                                locale="FR-fr"
                                full-width
                                readonly
                                v-model="date"
                                ></v-date-picker>
                            </v-row>                                
                        </v-col>

                        <v-divider class="ma-1"></v-divider>
                
                        <v-col cols="12" class="my-5">
                            <v-row class="d-flex align-center justify-center">
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn
                                        rounded
                                        @click="acountElevationRequest()"
                                        color="primary"
                                        v-bind="attrs"
                                        v-on="on">
                                            Demander l'élévation de vos droits
                                            <v-icon class="mx-3">mdi-account-key-outline</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Faire une demande pour devenir administrateur, ce qui vous donnera le droit de créer des organisations, des cours, des exercices, etc...</span>
                                </v-tooltip>
                            </v-row>
                        </v-col>
                                
                    </v-row>
                </v-layout>
            </v-col>
            <v-col cols="3">

            </v-col>
        </v-row>

        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
        <v-btn text color="error" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>

    </div>
</template>
<script>
import axios from 'axios'
import UrlConst from '../services/UrlConst'

export default {
    data(){
        return {
            snackbar: false,
            snackbarText: "",
            loading: true,
            passwordValid: false,
            colors: [
                "red",
                "blue",
                "green",
                "indigo",
                "purple",
                "teal",
                "orange",
                "brown",
                "deep-orange",
                "blue-grey",
                "cyan"
            ],
            userInfo:{
                firstName: String,
                lastName: String,
                email: String,
                birthdate: Date,
                role: String,
                password: String
            },
            date: new Date().toISOString().substr(0, 10),
            password: "",
            passwordShow: false,
            rngColor:"",
            initials: "", 
            passwordRule: [
                v => !!v || 'Veuillez renseinger un mot de passe.',
                v => v.length >8 || 'Veuillez renseinger un mot de passe de plus de 8 caractères.'
            ],
        }
    },
    methods: {
        getCreatorInitials(){
            this.initials = this.userInfo.firstName.substring(0,1)+this.userInfo.lastName.substring(0,1)
        },
        randomColor(){
            return this.colors[Math.floor(Math.random() * this.colors.length)];
        },
        updPassword(){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+UrlConst.passwordUrl
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
            
            let body = {
                newPassword: this.password
            }

            axios.put(url, body,
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then(async (res) => {
                if(res.status == 200){
                    this.snackbarText = "Le mot de passe a été modifié."
                    this.snackbar = true
                    this.password = undefined
                }
            })
        },
        acountElevationRequest(){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+UrlConst.accountElevationUrl
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
            
            axios.post(url, {},
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then(async (res) => {
                if(res.status == 200){
                    this.snackbarText ="La demande a été envoyé"
                    this.snackbar = true
                }
            })
        }
    },
    created(){
        this.rngColor = this.randomColor()
        
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+UrlConst.userInfoUrl
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

        axios.get(url ,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then(async (res) => {
            if(res.status == 200){
                this.userInfo = res.data
                this.getCreatorInitials()
                this.date = new Date(this.userInfo.birthdate).toISOString().substr(0, 10)
                this.loading = false
            }
        }).catch((err)=> {
            console.error(err.response)
            this.snackbarText = "Erreur lors de la récupération du profil utilisateur."
            this.snackbar = true
        })
    }
}
</script>