<template>
    <div class="m-">
        <v-toolbar 
        flat
        class="d-flex align-center justify-center"
        color="secondary"
        dark>
            <v-toolbar-title>Réponse de l'éxercice : {{ userResponse.title }} </v-toolbar-title>
        </v-toolbar>

        <v-layout row wrap ma-10 justify-center>
            <v-flex xs12 sm5 lg3 class="ma-4" v-for="response in userResponse.userResponses" :key="response._id">
                <v-card>
                    <v-card-title>
                        Réponse de {{ response.userId }}
                    </v-card-title>
                    <v-card-text>

                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>

        <div v-if="userResponse.userResponses.length == 0">
            <h3 class="d-flex align-center justify-center">
                Vous n'avez aucune réponse pour cette exercice.
            </h3>
        </div>

        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
            <v-btn text color="error" @click.native="reload()">Fermer</v-btn>
        </v-snackbar>
    </div>
</template>
<script>
import axios from 'axios'
import UrlConst from '../services/UrlConst'


export default {
    data(){
        return {
            snackbar: false,
            snackbarText: "",
            userResponse: {
                _id: String,
                title: String,
                userResponses: [{
                    _id: String,
                    sendAt: Date,
                    exerciseId: String,
                    questions: [{
                        _id: String,
                        text: String,
                        questionType: String,
                        coefficient: Number,
                        responses: [{
                            _id: String,
                            text: String,
                            isAnswer: String,
                            isUserResponse: Number,
                            file: {
                                src: String,
                                type: String,
                                name: String
                            },
                        }]
                    }],
                    userId: String,
                    marks: Number,
                    coefficient: Number,
                }]
            }
        }
    },
    methods: {
        
    },
    created(){
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.exerciseUrl+UrlConst.userResponseUrl+this.$route.params.id
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
        
        axios.get(url ,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then((res) => {
            if(res.status == 200){
                this.userResponse= res.data
            }
        }).catch(()=> {
            this.snackbar = true
            this.snackbarText = "Erreur lors de la récupération des informations."
        })
    }
}
</script>