<template>
    <div>
        <Home />
        
        <v-snackbar
        color="success"
        v-model="snackbar">
        Votre compte a été activer.
        <v-btn text @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>
    </div>
</template>
<script>
import Home from './Home.vue'
export default {
    components: {
        Home
    },
    data(){
        return {
            snackbar: true,
        }
    },
    methods: {
        
    }
}
</script>