<template>
    <v-list-item link>
        <v-list-item-avatar>
            <v-avatar :color="rngColor" size="70">
                <span class="font-weight-bold white--text"> {{initials}} </span>
            </v-avatar>
        </v-list-item-avatar>
        <v-list-item-content>                    
            <v-list-item-title>
                {{contact.firstName}} {{contact.lastName}} 
            </v-list-item-title>
            <v-list-item-subtitle>
                {{contact.email}}
            </v-list-item-subtitle>
        </v-list-item-content>
    </v-list-item>
</template>
<script>

export default {
    data(){
        return {
            colors: [
                "red",
                "amber",
                "blue",
                "green",
                "indigo",
                "lime",
                "purple",
                "teal",
                "orange",
                "brown",
                "deep-orange",
                "blue-grey",
                "cyan"
            ],
            rngColor:"primary",
            initials: ""
        }
    },
    methods: {
        getCreatorInitials(){
            this.initials = this.contact.firstName.substring(0,1)+this.contact.lastName.substring(0,1)
        },
    },
    created(){
        this.rngColor = this.colors[Math.floor(Math.random() * this.colors.length)]
        this.getCreatorInitials()
    },
    props:{
        contact: {
            _id: String,
            firstName: String,
            lastName: String,
            email: String
        }
    }
}
</script>