<template>
    <v-container fluid class="pa-0">
        <v-toolbar 
        flat
        class="d-flex align-center justify-center"
        color="secondary"
        dark>
            <v-toolbar-title v-if="!loader">Messagerie : {{userInfo.firstName}} {{userInfo.lastName}}</v-toolbar-title>
        </v-toolbar>
        <v-container class="container" v-if="!loader">
            <v-container class="message_container">
                <v-row v-for="message in sortedDateMessages" :key="message._id">
                    <MessagingCard :message="message" :senderId="userId"/>
                </v-row>                
            </v-container>
                    
            <v-row>
                <v-col cols="10">
                    <v-textarea
                    rows="1"
                    auto-grow
                    clearable
                    outlined
                    clear-icon="mdi-close-circle"
                    v-model="newMessage"
                    counter
                    label="Entrez le message que vous voulez envoyer"
                    placeholder="Votre message"
                    ></v-textarea>
                </v-col>
                <v-col cols="2">
                    <v-btn color="secondary" large rounded @click="sendMessage()">
                        Envoyer
                        <v-icon>mdi-send-outline</v-icon>
                    </v-btn>
                </v-col>
            </v-row>
        </v-container>
        <v-skeleton-loader
        v-else
        type="list-item-one-line">
        </v-skeleton-loader>
    </v-container>
</template>
<script>
import axios from 'axios'
import MessagingCard from '../components/MessagingCard.vue'
import { io } from "socket.io-client";
import UrlConst from '../services/UrlConst'

var socket;

export default {
    data(){
        return {
            newMessage: null,
            loader: true,
            messages: [],
            senderColor: "green lighten-3",
            receiverColor: "grey lighten-2",
            userInfo: {
                _id: String,
                firstName: String,
                lastName: String,
                email: String
            },
        }
    },
    components:{
        MessagingCard
    },
    methods: {   
        onMessageReceive(data) {
            this.messages.unshift(data); 
        },
        onChatMessages(data) {
            this.messages = data
        },
        sendMessage(){
            socket.emit('new_message', {
                sender: this.userId, 
                receiverId: this.receiverId,
                content: this.newMessage
            })
            this.newMessage = ""
        }
    },
    computed: {
        sortedDateMessages: function(){
            let val=  this.messages.slice().sort((a, b) => new Date(b.sendAt) - new Date(a.sendAt))
            return val
        }
    },
    created(){ 
        socket = io("https://cactus-learn-api.azurewebsites.net/", {query: {"chatId": this.userId}, transports: ['websocket'], upgrade: false, secure: true});
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+this.receiverId
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

        axios.get(url ,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then(async (res) => {
            if(res.status == 200){
                this.userInfo = res.data
                this.loader=false
                
                socket.off('receive_message', this.onMessageReceive).on('receive_message', this.onMessageReceive);

                socket.emit("users", {senderId: this.userId, receiverId: this.receiverId})

                socket.off("chatMessages", this.onChatMessages).on("chatMessages", this.onChatMessages)
            }
        })
    },
    updated(){
        
    },
    watch: {
        receiverId: function (val) { 

            socket.emit("disconnection")
            socket = io(process.env.VUE_APP_SERVEUR_URL, {query: {"chatId": this.userId}, transports: ['websocket'], upgrade: false});
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+this.receiverId
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

            axios.get(url ,
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then(async (res) => {
                if(res.status == 200){
                    this.userInfo = res.data
                    this.loader=false
                }
            })
            socket.emit("users", {senderId: this.userId, receiverId: val})
            socket.off("chatMessages", this.onChatMessages).on("chatMessages", this.onChatMessages)
        },
    },
    props:{
        receiverId: String,
        userId: String
    }
}
</script>
<style scoped>
    .container{
        height: 95vh;
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        overflow: auto;
    }
    .message_container{
        height: 80%;
        flex-direction: column-reverse;
    }
</style>