<template>
    <v-dialog
        v-model="dialog"
        persistent
        max-height="auto"
        scrollable>
            <template v-slot:activator="{ on, attrs }">  
                <v-btn rounded
                class="my-5" 
                color="secondary" 
                slot="activator" 
                v-bind="attrs"
                large
                v-on="on">
                    Créer un exercice 
                    <v-icon>mdi-plus</v-icon>
                </v-btn>
            </template> 
        <v-card>
            <v-toolbar color="secondary white--text" class="d-flex align-center justify-center">
                <v-toolbar-title><h3>Creation d'un exercice</h3> </v-toolbar-title>
            </v-toolbar>

            <v-card-text class="pt-5">
                <v-stepper v-model="stepperStep">
                    <v-stepper-header>
                    <v-stepper-step
                        :complete="stepperStep > 1"
                        step="1"
                    >
                        Définition du devoir
                    </v-stepper-step>

                    <v-divider></v-divider>

                    <v-stepper-step
                        :complete="stepperStep > 2"
                        step="2"
                    >
                        Créer les exercices
                    </v-stepper-step>

                    <v-divider></v-divider>

                    <v-stepper-step step="3">
                        Valider
                    </v-stepper-step>
                    </v-stepper-header>

                    <v-stepper-items>
                        <v-stepper-content step="1">
                            <v-card
                            class="mb-12">
                                <v-form
                                ref="form"
                                v-model="valid">

                                    <v-layout column>
                                        <v-col cols="12">
                                            <v-row class="mx-2">
                                                <h3>Titre :</h3>
                                            </v-row>
                                            <v-row >
                                                <v-text-field
                                                v-model="exercise.title"
                                                class="ma-2"
                                                :rules="titleRule"
                                                placeholder="Titre"
                                                solo
                                                counter
                                                maxlength="255"
                                                outlined
                                                required
                                                ></v-text-field>
                                            </v-row>
                                        </v-col>
                                        <v-col xs12 sm6>
                                            <v-row class="mx-2">
                                                <h3>Coefficient de l'exercice :</h3>
                                            </v-row>
                                            <v-row>
                                                <v-select
                                                class="ma-2"
                                                v-model="exercise.coefficient"
                                                :items="coefficientList"
                                                outlined
                                                solo
                                                placeholder="Coefficient de l'exercice"
                                                required></v-select>
                                            </v-row>
                                        </v-col>

                                        <v-col>
                                            <v-row class="mx-2">
                                                <h3> Dates de l'exercice :</h3>
                                            </v-row>
                                            <v-row>
                                                <v-menu
                                                v-model="menuPopUp"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y

                                                min-width="auto">
                                                    <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field
                                                        v-model="dateTxtRange"
                                                        class="ma-2"
                                                        placeholder="Date de l'exercice "
                                                        solo
                                                        prepend-inner-icon="mdi-calendar"
                                                        readonly
                                                        clearable
                                                        :rules="dateRule"
                                                        outlined
                                                        v-bind="attrs"
                                                        v-on="on"
                                                    ></v-text-field>
                                                    </template>
                                                    <v-date-picker
                                                    v-model="exerciseDates"
                                                    :show-current="true"
                                                    locale="FR-fr"
                                                    range>
                                                    </v-date-picker>
                                                </v-menu>
                                            </v-row>
                                        </v-col>
                                    </v-layout>

                                </v-form>
                            
                            </v-card>

                            <v-btn
                            color="secondary"
                            :disabled="!valid"
                            rounded
                            large
                            @click="dateVerification()">
                                Continuer
                            </v-btn>
                        </v-stepper-content>

                        <v-stepper-content step="2">
                            <v-card
                            class="mb-12">
                                <v-expansion-panels
                                    class="mb-5"
                                    multiple
                                    popout
                                >
                                    <v-expansion-panel
                                    elevation="10"
                                    v-for="(item, i) in exercise.questions"
                                    :key="i">
                                        <v-expansion-panel-header> <h3>Exercise n°{{ i+1 }}</h3></v-expansion-panel-header>
                                        <v-expansion-panel-content elevation="10">
                                            <v-layout column>
                                                <v-col cols="12">
                                                    <v-row class="mx-2">
                                                        <h3>Entrez la question que vous souhaitez poser :</h3>
                                                    </v-row>
                                                    <v-row>
                                                        <v-textarea
                                                        outlined
                                                        rows="2"
                                                        solo
                                                        :rules="titleRule"
                                                        class="ma-2"
                                                        placeholder="Entrez la question que vous souhaitez poser."
                                                        v-model="item.text"></v-textarea>
                                                    </v-row>
                                                </v-col>
                                                
                                                <v-col cols="12">
                                                    <v-row class="mx-2">
                                                        <h3>Type de l'exercise :</h3>
                                                    </v-row>
                                                    <v-row>
                                                        <v-select
                                                        v-model="item.questionType"
                                                        :items="questionType"
                                                        outlined
                                                        class="ma-2"
                                                        solo
                                                        :rules="titleRule"
                                                        @input="onQuestionTypeChange(item.questionType, i)"
                                                        placeholder="Type de l'exercise."
                                                        required></v-select>
                                                    </v-row>
                                                </v-col>
                                                        
                                                <v-col xs12 sm6>
                                                    <v-row class="mx-2">
                                                        <h3>Coefficient de la question :</h3>
                                                    </v-row>
                                                    <v-row>
                                                        <v-select
                                                        class="ma-2"
                                                        v-model="item.coefficient"
                                                        :items="coefficientList"
                                                        outlined
                                                        solo
                                                        placeholder="Coefficient de l'exercice"
                                                        required></v-select>
                                                    </v-row>
                                                </v-col>
                                                <v-col cols="12">
                                                    <v-row class="mx-2">
                                                        <h3>Placez le fichier de l'exercice ici :</h3>
                                                    </v-row>
                                                </v-col>

                                                <v-divider v-if="item.responses.length>0" class="my-5"></v-divider>
                                                <div>
                                                    <v-form 
                                                    ref="form"
                                                    v-model="exerciseValidator"> 
                                                            <v-row v-for="(response, j) in item.responses" :key="j">
                                                            <v-col cols="3">
                                                                <v-row class="mx-2">
                                                                    <h3>Texte de la réponse :</h3>
                                                                </v-row>
                                                                <v-row>
                                                                    <v-text-field
                                                                    v-model="response.text"
                                                                    :rules="titleRule"
                                                                    placeholder="Texte de la réponse"
                                                                    outlined
                                                                    solo
                                                                    class="ma-2"
                                                                    required
                                                                    ></v-text-field>
                                                                </v-row>
                                                            </v-col>
                                                            <v-spacer></v-spacer>
                                                            <v-divider vertical></v-divider>
                                                            <v-spacer></v-spacer>
                                                            <v-col cols="3">
                                                                <v-row>
                                                                    <v-checkbox
                                                                    @change="changeUniqueChoice(i, j)"
                                                                    v-model="response.isAnswer"
                                                                    label="Est-ce une bonne réponse ?"
                                                                    ></v-checkbox>
                                                                </v-row>
                                                            </v-col>
                                                            <v-spacer></v-spacer>
                                                            <v-divider vertical></v-divider>
                                                            <v-spacer></v-spacer>
                                                            <v-tooltip bottom>
                                                                <template v-slot:activator="{ on, attrs }">
                                                                    <v-btn
                                                                    color="error"
                                                                    fab
                                                                    small
                                                                    class="mx-5"
                                                                    @click="onClickRemoveResponse(i,j)"
                                                                    v-bind="attrs"
                                                                    v-on="on">
                                                                        <v-icon>mdi-minus</v-icon>
                                                                    </v-btn>
                                                                </template>
                                                                <span>Supprimer la réponse</span>
                                                            </v-tooltip>
                                                        </v-row>
                                                    </v-form>
                                                    <v-divider class="my-5"></v-divider>
                                                </div>

                                                <v-row>
                                                    <v-btn
                                                    class="ml-4"
                                                    @click="onClickAddResponse(i)"
                                                    color="secondary"
                                                    dark>
                                                        Ajouter une nouvelle réponse<v-icon>mdi-plus</v-icon>
                                                    </v-btn>
                                                </v-row>

                                                <v-divider class="my-5"></v-divider>
                                                
                                                <v-row>
                                                    <v-spacer></v-spacer>
                                                    <v-btn
                                                    class="ma-4"
                                                    @click="onClickAddQuestion()"
                                                    color="secondary"
                                                    dark>
                                                        Ajouter un nouvelle exercise<v-icon>mdi-plus</v-icon>
                                                    </v-btn>
                                                    
                                                    <v-btn
                                                    class="ma-4"
                                                    @click="onClickRemoveExercise(i)"
                                                    color="error"
                                                    dark>
                                                        Supprimer l'exercice <v-icon>mdi-minus</v-icon>
                                                    </v-btn>
                                                </v-row>
                                            </v-layout>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                            </v-card>

                            <v-btn
                            color="secondary"
                            @click="submit()"
                            :disabled="!exerciseValidator"
                            rounded
                            large
                            class="ma-3">
                            Continuer
                            </v-btn>

                            <v-btn 
                            @click="stepperStep = 1"
                            rounded
                            large
                            color="primary--text"
                            outlined
                            class="ma-3">
                            Retour
                            </v-btn>
                        </v-stepper-content>

                        <v-stepper-content step="3">
                            <h3 class="d-flex align-center justify-center">L'exercice a bien était crée</h3>
                        </v-stepper-content>

                    </v-stepper-items>
                </v-stepper>
            </v-card-text>
            <v-card-actions>
                <v-btn
                class="pa-5 ma-3"
                color="error"
                rounded
                large
                @click="reload()">
                    <h4>Fermer</h4>
                    <v-icon class="my-1">
                        mdi-close
                    </v-icon>
                </v-btn>
            </v-card-actions>
        </v-card>
        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
        <v-btn text color="error" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>
    </v-dialog>
</template>
<script>
import axios from 'axios'
import UrlConst from '../services/UrlConst'

export default {
    components: {
    },
    data: () => {
        return {
            snackbar: false,
            snackbarText: "",
            stepperStep: 1,
            coefficientList: [1,2,3,4,5,6,7,8,9,10],
            exercise: {
                title: "",
                coefficient : 1,
                startDate: null,
                endDate: null,
                groupeId: "",
                questions :[
                {
                    text: "",
                    file: null,
                    questionType: "",
                    coefficient : 1,
                    responses:[]
                }
            ]
            },
            exerciseDates: [],
            dialog: false,
            questionType:["QCM", "Choix unique"],
            valid: false,
            exerciseValidator: false,
            menuPopUp: false,
            titleRule: [v => !!v || 'Le champ doit etre renseignée !'],
            dateRule: [v => !!v || 'Il faut choisir une période pour la date.'],
            isExerciseValid: false
        }
    },
    methods: {
        onClickAddQuestion(){
            this.exercise.questions.push({
                text: "",
                file: null,
                coefficient : 1,
                questionType: "",
                responses:[]
            })
        },
        onQuestionTypeChange(type, i){
            if(type != this.questionType[0]){
                this.exercise.questions[i].responses= [{
                    text: "",
                    file: null,
                    isAnswer: false
                }]
            }
        },
        onClickRemoveExercise(i){
            if(this.exercise.questions.length > 1){
                this.exercise.questions.splice(i, 1)
            }
        },
        onClickAddResponse(i){
            this.exercise.questions[i].responses.push({
                text: "",
                file: null,
                isAnswer: false
            })
        },
        onClickRemoveResponse(i, responseIdx){
            this.exercise.questions[i].responses.splice(responseIdx, 1)
        },
        checkDate(){
            if(this.exerciseDates.length==2){
                if(new Date(this.exerciseDates[0])>new Date(this.exerciseDates[1])){
                    this.exercise.startDate = this.exerciseDates[1]
                    this.exercise.endDate = this.exerciseDates[0]
                }else {
                    this.exercise.startDate = this.exerciseDates[0]
                    this.exercise.endDate = this.exerciseDates[1]
                }
            }else {
                this.exercise.startDate = this.exerciseDates[0]
            }
        },
        submit(){
            this.checkDate()

            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.exerciseUrl+UrlConst.createUrl
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

            this.exercise.groupeId = this.groupeId

            axios.post(url , this.exercise,
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then((res) => {
                if(res.status == 201){
                    this.snackbarText = "L'exercice a été crée."
                    this.snackbar = true
                    this.stepperStep+=1
                }
            }).catch((err)=> {
                if(err.response.status == 412){
                    this.snackbarText = "Il y a une erreur dans le contenu de l'exercice, veuillez le modifier."
                }
                else if(err.response.status == 403){
                    this.snackbarText = "Vous n'avez pas les droits pour crée des exercices."
                }
                else {
                    this.snackbarText = "Une erreur est survenue, veuillez réessayer plus tard."
                }
                this.snackbar = true
            })
        },
        addFileToQuestion(i, file){
            this.exercise.questions[i].file = file
        },
        reload(){
            this.dialog = false
            this.$router.go()
        },
        dateIsAnterior(){
            if(this.exerciseDates.length!= 2) return false
            let newDate = new Date(Date.now())
            let todayDate = new Date(newDate.getUTCFullYear(), newDate.getUTCMonth(), newDate.getUTCDate())

            return new Date(this.exerciseDates[0]) < todayDate || new Date(this.exerciseDates[1]) < todayDate
        },
        dateVerification(){
            if(!this.dateIsAnterior()){
                this.stepperStep = 2
            }else{
                this.snackbarText = "Veuillez choisir une date postérieur à aujourd'hui"
                this.snackbar = true
            }
        },
        changeUniqueChoice(i, responseIdx){
            if(this.exercise.questions[i].questionType != "QCM"){
                this.exercise.questions[i].responses.map(e => e.isAnswer = false)
                this.exercise.questions[i].responses[responseIdx].isAnswer = true
            }
        }
    },
    computed: {
        dateTxtRange(){
            return (this.exerciseDates.length>0? "Du "+this.exerciseDates.join(' au  '):  "")
        },
    },
    props: {
        groupeId: String,
    }
}
</script>
