<template>
    <v-flex sm12 md5 class="ma-4">
        <v-card @click="goToExercisePage()" class="pa-4">
            <v-card-title>
                <v-row>
                    <v-col cols="10" class="text-wrap d-inline">
                        {{exercise.title}}
                    </v-col>
                    <v-col cols="2">
                        <v-btn color="error" icon v-if="isAdmin" outlined @click="deleteExercise(exercise._id)">
                            <v-icon>mdi-trash-can-outline</v-icon>
                        </v-btn>
                    </v-col>
                </v-row>                
            </v-card-title>
            <v-card-text>
                <div class="font-weight-bold ml-8 mb-2">
                    Calendrier
                </div>

                <v-timeline
                    align-top
                    dense>
                    <v-timeline-item
                    small>
                        <div>
                            <div class="font-weight-normal">
                            <strong>Date de début :</strong>
                            </div>
                            <div>{{ formatDate(exercise.startDate) }}</div>
                        </div>
                    </v-timeline-item>
                    <v-timeline-item
                    color="primary"
                    small>
                        <div>
                            <div class="font-weight-normal">
                            <strong>Date de fin :</strong>
                            </div>
                            <div>{{ formatDate(exercise.endDate) }}</div>
                        </div>
                    </v-timeline-item>
                </v-timeline>
                
            </v-card-text>
        </v-card>
        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
            <v-btn text color="error" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>
    </v-flex>
</template>
<script>

import axios from 'axios'
import UrlConst from '../services/UrlConst'

export default {
    data(){
        return {
            snackbar: false,
            snackbarText: "",
        }
    },
    methods: {
        reload(){
            this.dialog = false
            this.$router.go()
        },
        isExerciseAvailable(date){
            let newDate = new Date(date).toLocaleString('fr-FR', { timeZone: 'UTC' })
            
            return newDate > new Date(Date.now())
        },
        formatDate(date){
            let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            return new Date(date).toLocaleDateString("fr-FR", options)
        },
        goToExercisePage(){
            if(this.isAdmin){
                this.$router.push({path: `/exercise-teacher/${this.exercise._id}`})
            }else {
                if(!this.isExerciseAvailable(this.exercise.startDate)) this.$router.push({path: `/exercise-student/${this.exercise._id}`})
                else{
                    this.snackbarText = "Vous ne pouvez pas encore commencez cette exercice. Attenez le : "+this.formatDate(this.exercise.startDate)
                    this.snackbar = true
                }
            }
        },
        deleteExercise(id){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.exerciseUrl+id
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

            axios.delete(url ,
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then(() => {
                this.$router.go()
            }).catch((err)=> {
                if(err.response.status == 403){
                    this.snackbarText = "Vous n'avez pas les droits pour supprimer cette exercice"
                }
                if(err.response.status == 401){
                    this.snackbarText = "Votre token a expiré, nous rechargeons la page pour vous reconnecter."
                }
                else {
                    this.snackbarText = err.response.data
                }
                this.snackbar = true
            })
        }
    },
    created() {
        if(!this.isAdmin) this.isAdmin = false
    },
    props: {
        exercise : {
            _id: String,
            creator: String,
            title: String,
            coefficient: Number,
            total: Number,
            startDate: String,
            endDate: String,
        },
        isAdmin: Boolean
    }
}
</script>