<template>
    <div>
        <v-dialog
        v-model="dialog"
        max-width="1000px">
            <template v-slot:activator="{ on, attrs }">  
                <v-btn class="ma-3"
                v-if="isAdmin"
                rounded
                large
                outlined 
                color="primary" slot="activator" v-bind="attrs" v-on="on">
                    Corriger 
                    <v-icon>mdi-pencil-box-outline</v-icon>
                </v-btn>
                <v-btn v-else icon class="ma-3" color="primary" slot="activator" v-bind="attrs" v-on="on">
                    <v-icon>mdi-information-outline</v-icon> 
                </v-btn>
            </template> 
            <v-card>
                <v-toolbar color="secondary white--text" class="d-flex align-center justify-space-between text-h4">
                    <v-toolbar-title>Exercice de : {{userInfo.firstName}} {{userInfo.lastName}}  coef: {{studentExercise.coefficient}}</v-toolbar-title>
                </v-toolbar>
                <v-card-text class="pt-5">
                    <h3 v-if="studentExercise.questions.length==0">
                        L'utilisateur a mal rempli son exercices.
                    </h3>
                    <v-expansion-panels>
                        <v-expansion-panel
                        v-for="(question,i) in studentExercise.questions"
                        :key="i">
                        <v-expansion-panel-header class="d-flex justify-space-around text-h6">
                            Question : {{question.text}}
                            <v-spacer></v-spacer>
                            {{question.coefficient}} pt
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-list-item 
                            v-for="(response,j) in question.responses"
                            :key="j">
                                <v-list-item-content>
                                    <div>
                                        <v-card v-if="response.isAnswer" color="green lighten-4">
                                            <v-card-text>
                                                {{response.text}}
                                                <v-icon color="green" v-if="response.isUserResponse && response.isAnswer">mdi-check-circle-outline</v-icon>
                                                <v-icon color="red" v-if="response.isUserResponse && !response.isAnswer">mdi-close</v-icon>
                                            </v-card-text>
                                        </v-card>
                                        <v-card v-else color="red lighten-4">
                                            <v-card-text>
                                                {{response.text}}
                                                <v-icon color="green" v-if="response.isUserResponse && response.isAnswer">mdi-check-circle-outline</v-icon>
                                                <v-icon color="red" v-if="response.isUserResponse && !response.isAnswer">mdi-close</v-icon>
                                            </v-card-text>
                                        </v-card>
                                    </div>
                                </v-list-item-content>
                            </v-list-item>
                            <v-divider class="my-5"></v-divider>
                            <v-col cols="12">
                                <v-row>
                                    <h3 class="d-flex align-center justify-center">Commentaire sur la question :</h3>
                                </v-row>

                                <v-row>
                                    <v-textarea
                                    :disabled="!isAdmin"
                                    v-model="question.comment"
                                    auto-grow
                                    outlined
                                    rows="2"
                                    ></v-textarea>
                                </v-row>

                            </v-col>
                        </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                    <v-form
                    v-model="correctionValid"
                    ref="form">
                        <v-row class="ma-5">
                            <h3>Note finale :</h3>
                        </v-row>
                        <v-row>
                            <v-text-field
                            placeholder="Note finale"
                            required
                            solo
                            :disabled="!isAdmin"
                            outlined
                            type="number"
                            :rules="noteRule"
                            v-model="newNote"
                            ></v-text-field>
                        </v-row>
                        
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn
                        color="error"
                        rounded
                        large
                        class="pa-3"
                        @click="close">
                        Fermer
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="secondary"
                        rounded
                        v-if="isAdmin"
                        class="pa-3"
                        large
                        :disabled="!correctionValid"
                        @click="saveComment">
                        Sauvegarder
                    </v-btn>
            </v-card-actions>
            </v-card>
        </v-dialog>
        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
        <v-btn text color="error" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>
    </div>
</template>
<script>
import axios from 'axios'
import UrlConst from '../services/UrlConst'


export default {
    data(){
        return {
            snackbar: false,
            snackbarText: "",
            correctionValid: false,
            dialog: false,
            noteRule: [v => !!v || "veuillez entrez une note"],
            newNote: 0,
        }
    },
    methods: {
        saveComment(){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.exerciseUrl+UrlConst.correctionUrl
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

            this.studentExercise.marks = this.newNote
            

            let body = {
                _id: this.studentExercise._id,
                exerciseId: this.studentExercise.exerciseId,
                userId: this.studentExercise.userId,
                questions: this.studentExercise.questions,
                marks: this.newNote
            }

            axios.put(url, body,
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then(async (res) => {
                if(res.status == 200){
                    this.userInfo = res.data
                    this.snackbarText = "Les commentaires et les modifications ont été effectués."
                    this.snackbar = true
                    this.dialog = false
                }
            })
        },
        close(){
            this.dialog = false
            this.newNote = this.studentExercise.marks
        }
    },
    created(){
        this.newNote = this.studentExercise.marks
    },
    props: {
        studentExercise: {
            _id: String,
            userId: String,
            exerciseId: String,
            marks: Number,
            coefficient: Number,
            sendAt: Date,
            total: Number,
            questions: [{
                text: String,
                questionType: String,
                comment: String,
                coefficient: Number,
                responses: [
                    {
                    text: String,
                    isAnswer: Boolean,
                    isUserResponse : Boolean
                    }
                ],
            }],
        },
        userInfo:{
            firstName: String,
            lastName: String,
            email: String,
        },
        isAdmin: Boolean
    }
}
</script>