<template>
    <div>
        <v-tabs
        v-model="tab"
        fixed-tabs>

            <v-tabs-slider color="accent"></v-tabs-slider>
            
            <v-tab>
                Exercice à faire :
            </v-tab>
            <v-tab>
                Notes des élèves :
            </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
            <v-tab-item>
                <v-layout row  wrap mx-5 justify-center>
                    <ExerciseCard v-for="exercise in groupeExercise.exercises" :key="exercise._id" :exercise="exercise" :isAdmin="true"/>
                </v-layout>
                <ExerciseCreationPopUp :groupeId="this.$route.params.id"/>                     
            </v-tab-item> 

            <v-tab-item>
                <v-card v-if="userStats==null" outlined>
                    <v-card-text>
                        <v-skeleton-loader
                        v-show="statsLoader"
                        type="list-item-one-line">
                        </v-skeleton-loader>
                        <h2 v-show="!statsLoader">Aucune stats a afficher</h2>
                    </v-card-text>
                </v-card>
                <v-layout row  wrap mx-5 justify-center v-else>
                    <StudentStats v-show="!statsLoader" v-for="(stats, i) in userStats.responses" :key="i" :stats="stats" />                        
                </v-layout>
            </v-tab-item>            
        </v-tabs-items>
    </div>

</template>
<script>
import ExerciseCreationPopUp from './ExerciseCreationPopUp'
import ExerciseCard from './ExerciseCard.vue'
import StudentStats from './StudentStats.vue'
import axios from 'axios'
import UrlConst from '../services/UrlConst'

export default {
    data(){
        return {
            tab: 0,
            userStats: null,
            statsLoader: true,
            groupeExercise:
            {
                groupeName: "",
                exercises: [
                    {
                        _id: "",
                        creator: "",
                        title: "",
                        coefficient: 0,
                        total: 0,
                        startDate: new Date(),
                        endDate: new Date()
                    }
                ],
                responses:[]
            },
        }
    },
    components: {
        ExerciseCreationPopUp,
        ExerciseCard,
        StudentStats,
    },
    methods: {
    },
    created() {
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.exerciseUrl+UrlConst.groupeUrl+this.$route.params.id
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
        
        axios.get(url ,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then((res) => {
            if(res.status == 200){
                this.groupeExercise= res.data
            }
        }).catch((err)=> {
            console.error(err)
        })
        
        url = process.env.VUE_APP_SERVEUR_URL+UrlConst.exerciseUrl+UrlConst.groupeStatsUrl+this.$route.params.id

        axios.get(url,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then((res) => {
            if(res.status == 200){
                this.userStats = res.data
                this.statsLoader = false
            }
        }).catch(()=>{
            this.snackbarText = "Erreur lors de la récupération des statistiques du groupe."
            this.snackbar = true
            this.statsLoader = false
        })
    }
}
</script>