<template>
    <div>
        <v-tabs
        v-model="tab"
        fixed-tabs>

            <v-tabs-slider color="accent"></v-tabs-slider>
            
            <v-tab>
                Exercice à faire :
            </v-tab>
            <v-tab>
                Réponses aux exercices :
            </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
            <v-tab-item>
                <v-layout row  wrap ma-5 justify-center>
                    <ExerciseCard v-for="exercise in groupeExercise.exercises" :key="exercise._id" :exercise="exercise" :isAdmin="false"/>
                    <div v-if="groupeExercise.exercises.length == 0" class=" ma-5 d-flex align-center justify-center text-h6">
                        Aucun exercice à afficher.
                    </div>
                </v-layout>
            </v-tab-item>
            <v-tab-item>
                <v-layout row wrap justify-center v-for="response in groupeExercise.responses" :key="response._id" >
                    <UserResponseCard :studentExercise="response" :isAdmin="false"/>
                </v-layout>
                    
                <div v-if="groupeExercise.responses.length == 0" class="ma-5 d-flex align-center justify-center text-h6">
                    Aucun exercice à afficher.
                </div>
            </v-tab-item>
        </v-tabs-items>
    
    </div>
</template>
<script>
import UserResponseCard from './UserResponseCard.vue'
import ExerciseCard from './ExerciseCard.vue'
import UrlConst from '../services/UrlConst'
import axios from 'axios'

export default {
    components: {
        UserResponseCard,
        ExerciseCard
    },
    data:() => {
        return {
            tab: 0,
            groupeExercise:{
                groupeName: "",
                exercises: [],
                responses: []
            },
        }
    },
    methods: {
        formatDate(date){
            let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            return new Date(date).toLocaleDateString("fr-FR", options)
        },
    },
    created(){
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

        if(this.$route.params.id){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.exerciseUrl+UrlConst.groupeUrl+this.$route.params.id

            axios.get(url ,
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then((res) => {
                if(res.status == 200){
                    this.groupeExercise= res.data
                }
            })
        }else{
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.exerciseUrl+UrlConst.groupeUrl+"myExercises"
            
            axios.get(url ,
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then((res) => {
                if(res.status == 200){
                    this.exercisesList = res.data
                }
            })
        }
    }
}
</script>
