<template>
    <v-container class="d-flex align-center justify-center">
        <v-row>
            <v-col cols="12">
                <vue-core-video-player 
                v-if="file.type=='video'" 
                justify-center :src="file.src">
                </vue-core-video-player>
                <v-img
                v-else-if="file.type=='image'"
                contain
                min-height="250"
                min-width="300"
                max-width="1500px"
                :src="file.src"
                ></v-img>
                <mini-audio
                v-if="file.type=='audio'"
                :audio-source="file.src"
                :options="xhr">
                </mini-audio>
            
                <vue-pdf-app v-if="getFileExtension()=='pdf'" :pdf="file.src"></vue-pdf-app>
                
            </v-col>
        </v-row>
        <!---
        <v-row>
            <h4>Cliquez pour télécharger le fichier : </h4>
            <a mx-3 text color="success--text" @click="downloadFile(file.src)">{{file.name}}</a>
        </v-row>
        --->
    </v-container>
</template>
<script>
import "vue-pdf-app/dist/icons/main.css";
import VuePdfApp from "vue-pdf-app";

export default {
    data(){
        return {
            xhr: {},
			currentPage: 0,
			pageCount: 0,
        }
    },
    components: {
        VuePdfApp
    },
    methods: {
        downloadFile(src){
            window.open(src, '_blank')
        },
        getFileExtension(){
            let splits = this.file.name.split(".")
            return splits[splits.length-1]
        },
    },
    computed:{
        isSupportedType(){
            return ""
        }
    },
    props: {
        file: {
            name: String,
            src: String,
            type: String
        }
    }
}
</script>