<template>
    <v-flex xs8 class="ma-4">
        <v-card :to="{path:'/forum/'+forum._id}">
        <v-row>
            <v-col cols="2" class="d-flex align-center justify-center">
                <v-avatar :color="rngColor" size="100">
                    <span  class="font-weight-bold white--text text-h5">{{initials}}</span>
                </v-avatar>
            </v-col>
            <v-col cols="10">
                <v-card-title>
                    <v-row>
                        <v-col cols="8" class="text-wrap d-inline">
                            {{forum.name}}
                        </v-col>
                        <v-col cols="2">
                            <v-icon color="primary" v-if="forum.statut_close">mdi-check-circle-outline</v-icon>
                        </v-col>
                    </v-row>
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="2">
                        </v-col>
                        <v-col cols="10">
                            <div class="ma-3">
                                <v-row>Créée le {{formatDate(forum.createdAt)}}</v-row>
                                <v-row>par {{userInfo.firstName}} {{userInfo.lastName}}</v-row>
                                <v-row>{{forum.posts.length}} • réponses</v-row>
                            </div>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-col>
        </v-row>
        </v-card>
    </v-flex>
</template>              
<script>

import axios from 'axios'
import UrlConst from '../services/UrlConst'

export default {
    components:{
    },
    data(){
        return {
            userInfo: {
                _id: String,
                firstName: String,
                lastName: String,
                email: String
            },
            colors: [
                "red",
                "amber",
                "blue",
                "green",
                "indigo",
                "lime",
                "purple",
                "teal",
                "orange",
                "brown",
                "deep-orange",
                "blue-grey",
                "cyan"
            ],
            rngColor:"",
            initials: ""
        }
    },
    methods: {
        formatDate(date){
            let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute:'numeric'};
            return new Date(date).toLocaleDateString("fr-FR", options)
        },
        getCreatorInitials(){
            this.initials =  this.userInfo.firstName.substring(0,1)+this.userInfo.lastName.substring(0,1)
        },
    },
    created(){
        this.rngColor = this.colors[Math.floor(Math.random() * this.colors.length)]
        
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+this.forum.creatorId
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

        axios.get(url ,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then(async (res) => {
            if(res.status == 200){
                this.userInfo = res.data
                this.getCreatorInitials()
            }
        })
    },
    props: {
        forum : {
            _id: String,
            name: String,
            creatorId: String,
            posts: [],
            statut_close: Boolean,
            createdAt: Date
        }
    }
}
</script>