<template>
    <v-card class="my-3">
        <v-card-title class="text-wrap d-inline">
            {{post.content}}
        </v-card-title>
        <v-card-text>
            <div class="ma-3">
                <v-row>
                    <v-col cols="2">
                        <v-avatar :color="rngColor" size="60">
                            <span class="font-weight-bold white--text text-h5">{{initials}}</span>
                        </v-avatar>
                    </v-col>
                    <v-col cols="8">
                        <v-row>Envoyée le {{formatDate(post.createdAt)}}</v-row>
                        <v-row>par {{userInfo.firstName}} {{userInfo.lastName}}</v-row>
                    </v-col>
                    <v-col cols="1">
                        <v-btn color="success" icon  v-if="!thumbUpActive" @click="upvote()">
                            <v-icon>mdi-thumb-up-outline</v-icon>
                        </v-btn>
                        <v-btn color="success" icon  v-else @click="upvote()">
                            <v-icon>mdi-thumb-up</v-icon>
                        </v-btn>
                        <p color="success">+ {{this.post.thumb_up.length}}</p>
                    </v-col>
                    <v-col cols="1">
                        <v-btn color="error" icon  v-if="!thumbDownActive" @click="downVote()">
                            <v-icon>mdi-thumb-down-outline</v-icon>
                        </v-btn>
                        <v-btn color="error" icon  v-else @click="downVote()">
                            <v-icon>mdi-thumb-down</v-icon>
                        </v-btn>
                        <p color="error">- {{this.post.thumb_down.length}}</p>
                    </v-col>
                </v-row>
            </div>
        </v-card-text>
    </v-card>
</template>              
<script>
import axios from 'axios'
import UrlConst from '../services/UrlConst'

export default {
    components:{
    },
    data(){
        return {
            userInfo: {
                _id: String,
                firstName: String,
                lastName: String,
                email: String
            },
            thumbDownActive: null,
            thumbUpActive: null,
            myUserId: "",
            colors: [
                "red",
                "blue",
                "green",
                "indigo",
                "purple",
                "teal",
                "orange",
                "brown",
                "deep-orange",
                "blue-grey",
                "cyan"
            ],
            rngColor:"",
            initials: ""
        }
    },
    methods: {
        formatDate(date){
            let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            return new Date(date).toLocaleDateString("fr-FR", options)
        },
        getCreatorInitials(){
            this.initials =  this.userInfo.firstName.substring(0,1)+this.userInfo.lastName.substring(0,1)
        },
        upvote(){
            if(!this.thumbUpActive){
                let body = {
                    postId: this.post._id ,
                    positif: true
                }

                let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.groupeUrl+UrlConst.forumUrl+"ratePost/"
                let encryptedToken = localStorage.token
                let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

                axios.put(url, body,
                { headers: {
                    'Content-Type': 'application/json',
                    'Authorization': "Bearer "+ token
                }}).then(async (res) => {
                    if(res.status == 200){
                        this.thumbUpActive=true
                        this.thumbDownActive = false
                        this.post.thumb_up.push({userId: this.myUserId})
                        this.post.thumb_down = this.post.thumb_down.filter(e => e.userId!=this.myUserId)
                    }
                }).catch((err)=> {
                    console.error(err.response.message)
                })
            }
        },
        downVote(){
            if(!this.thumbDownActive){
                let body = {
                    postId: this.post._id ,
                    positif: false
                }
                let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.groupeUrl+UrlConst.forumUrl+"ratePost/"
                let encryptedToken = localStorage.token
                let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

                axios.put(url, body,
                { headers: {
                    'Content-Type': 'application/json',
                    'Authorization': "Bearer "+ token
                }}).then(async (res) => {
                    if(res.status == 200){
                        this.thumbUpActive = false
                        this.thumbDownActive = true
                        this.post.thumb_down.push({userId: this.myUserId})
                        this.post.thumb_up = this.post.thumb_up.filter(e => e.userId!=this.myUserId)
                    }
                }).catch((err)=> {
                    console.error(err.response.message)
                })
            }
        },
        randomColor(){
            return this.colors[Math.floor(Math.random() * this.colors.length)];
        },
    },
    created(){
        this.rngColor = this.randomColor()
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.groupeUrl+UrlConst.forumUrl+"post/"+this.postId
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

        url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+this.post.creatorId
        axios.get(url,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then(async (res) => {
            if(res.status == 200){
                this.userInfo = res.data
                this.getCreatorInitials()
            }
        })
        
        url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+"info"
        axios.get(url,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then(async (res) => {
            if(res.status == 200){
                this.myUserId = res.data._id
                if(this.post.thumb_up.some(thumUp => thumUp.userId == this.myUserId)){
                    this.thumbUpActive = true
                }else if(this.post.thumb_down.some(thumbDw => thumbDw.userId == this.myUserId)){
                    this.thumbDownActive = true
                }
            }
        })
    },
    props: {
        post : {
            _id: String,
            forumId: String,
            creatorId: String,
            content: String,
            thumb_up: [],
            thumb_down: [],
            createdAt: Date
        },
    }
}
</script>