<template>
    <v-layout class="d-flex ma-10 mt-16" row wrap justify-space-between>
      <v-flex md3 xs12 text-center>
          <img class="ma-2" src="../assets/teacher.png" contain height="100px">
          <br>
          <p class="font-weight-medium">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          </p>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex md3 xs12 text-center>
          <img class="ma-2" src="../assets/open-book.png" contain height="100px">
          <br>
          <p class="font-weight-medium">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          </p>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex md3 xs12 text-center>
          <img class="ma-2" src="../assets/analytics.png" contain height="100px">
          <br>
          <p class="font-weight-medium">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          </p>
        </v-flex>
    </v-layout>
</template>

<script>

export default {
    data(){
        return {
            
        }
    },
    methods: {
        
    }
}
</script>
