<template>
    <!--  -->
    <div>
        <v-layout row wrap ma-10 justify-center>
            <v-flex  ma-5 sm12 md6 lg3 v-for="course in groupeList" :key="course._id">
                <v-card elevation="4" >
                    <v-card-title>
                        {{course.name}}
                    </v-card-title>
                    <v-card-text>
                        <v-layout row  wrap ma-3>
                            <p>  {{course.details}}</p>
                        </v-layout>
                        <v-btn v-if="course.currentProgession!=0" 
                        color="primary" 
                        :to="{path:'/lesson/'+course._id}"
                        text>
                            Continuer le cours
                            </v-btn>
                        <v-btn
                        :to="{path:'/lesson/'+course._id}"
                        v-else 
                        color="primary" 
                        text>
                            Commencer le cours
                        </v-btn>
                </v-card-text>
                <v-card-actions>
                        <v-progress-linear v-if="course.currentProgession!=0" ma-2 v-model="course.currentProgession" color="secondary"></v-progress-linear>
                </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>
<script>

export default {
    data(){
        return {
            groupeList : [
                {
                    _id : "1233ah545",
                    name: "PA",
                    details : "Utiliser l'ensemble des compétences acquises pendant le Mastère pour mettre en place un projet transverse de type Création d'entreprise ou Client Professionnel",
                    currentProgession: 60
                },
                {
                    _id : "123a3e545",
                    name: "Anglais",
                    details : "Apprenez l'anglais, de façon ludique pour avoir un meilleur niveau qu'Ourdia (c'est pas compliquer, en vrai)",
                    currentProgession: 10
                },
                {
                    _id : "123a3zz545",
                    name: "Test",
                    details : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt et lorem facilisis lacinia. Nunc accumsan laoreet dictum. In interdum lectus sit amet leo pretium finibus.",
                    currentProgession: 0
                },
            ]
        }
    },
    methods: {
        
    },
}
</script>
