<template>
    <!--  -->
    <v-dialog
    v-model="dialog"
    scrollable
    max-width="1200px">
            <template v-slot:activator="{ on, attrs }">  
                <v-btn rounded
                class="ma-10" 
                color="secondary" 
                slot="activator" 
                v-bind="attrs" 
                v-on="on">
                    Modifier le cours 
                    <v-icon>mdi-pencil-outline</v-icon>
                </v-btn>
            </template> 
            <v-card>      
            <v-toolbar 
            flat
            color="secondary"
            dark>
                <v-spacer></v-spacer>
                <v-toolbar-title>Cours de : {{lesson.title}} </v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>

            <v-card-text>
                <v-stepper v-model="stepperStep">
                    <v-stepper-header>
                    <v-stepper-step
                    step="1"
                    >
                        Création des chapitres
                    </v-stepper-step>

                    <v-divider></v-divider>

                    <v-stepper-step step="2">
                        Confirmation
                    </v-stepper-step>
                    </v-stepper-header>

                    <v-stepper-items>
                        <v-stepper-content step="1">
                            <v-card
                            class="mb-12">

                                <v-col cols="12" class="mt-5">
                                    <v-row class="mx-2">
                                        <h3>Titre de la leçon :</h3>
                                    </v-row>
                                    <v-row >
                                        <v-text-field
                                        counter
                                        maxlength="255"
                                        class="ma-2"
                                        v-model="lesson.title"
                                        :rules="fieldRule"
                                        placeholder="Titre de la leçon"
                                        required
                                        solo
                                        outlined
                                        ></v-text-field>                                
                                    </v-row>
                                </v-col>

                                <v-expansion-panels
                                class="mb-5"
                                multiple
                                popout
                                >
                                    <v-expansion-panel
                                    elevation="10"
                                    v-for="(chapter, i) in lesson.chapters"
                                    :key="i">
                                        <v-expansion-panel-header>Chapitre n°{{ i+1 }}</v-expansion-panel-header>
                                        <v-expansion-panel-content elevation="10">
                                            <v-form
                                            ref="form"
                                            v-model="isLessonValid">
                                                    <v-layout row wrap justify-center align-center align-content-center>
                                                    
                                                    <v-flex xs10>
                                                        <v-text-field
                                                        outlined
                                                        label="Titre"
                                                        v-model="chapter.title"
                                                        :rules="fieldRule"
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex xs10>
                                                        <v-textarea
                                                        outlined
                                                        label="Contenu"
                                                        v-model="chapter.content"
                                                        :rules="fieldRule"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex xs10>
                                                        <v-divider class="my-5"></v-divider>
                                                    </v-flex>

                                                    <v-flex xs10>
                                                        <v-file-input
                                                        show-size
                                                        chips
                                                        outlined
                                                        dense
                                                        counter
                                                        @change="addFileToChapter(i, $event)"
                                                        v-model="chapter.file"
                                                        accept="image/*, video/*, audio/*,.pdf,.doc,.odt,.docx, .txt"
                                                        label="Placez le fichier ici">
                                                            <template v-slot:selection="{ text }">
                                                                <v-chip
                                                                    color="light-green darken-2"
                                                                    dark
                                                                    label>
                                                                    {{ text }}
                                                                </v-chip>
                                                            </template>
                                                        </v-file-input>
                                                    </v-flex>
                                                    <v-flex xs12>
                                                        <p>Fichier accepté : tous les fichiers d'images, tous les fichiers audio, .pdf, .doc, .docx, .txt, .odt </p>
                                                    </v-flex>
                                                    
                                                </v-layout>
                                            </v-form>


                                            <v-row>
                                                <v-spacer></v-spacer>                                                
                                                <v-btn
                                                class="ma-4"
                                                @click="removeChapter(i)"
                                                color="error"
                                                dark>
                                                    Supprimer le chapitre <v-icon>mdi-minus</v-icon>
                                                </v-btn>
                                            </v-row>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                        
                                    <v-btn
                                    class="ma-4"
                                    @click="onClickAddChapter(i)"
                                    color="secondary"
                                    dark>
                                        Ajouter un nouveau chapitre<v-icon>mdi-plus</v-icon>
                                    </v-btn>
                                </v-expansion-panels>
                            </v-card>

                            <v-btn
                            color="primary"
                            @click="updateLesson()"
                            :disabled="!isLessonValid"
                            >
                            Mettre à jour
                            </v-btn>
                        </v-stepper-content>
                        <v-stepper-content step="2" >
                            <div v-if="fileUploadLoader" class="d-flex align-center justify-center ma-5">
                                <v-progress-circular
                                class="mx-5"
                                indeterminate
                                color="primary"
                                ></v-progress-circular>
                                <h2 >Téléversement des fichiers ...</h2>
                            </div>
                            <h1 v-else class="d-flex align-center justify-center ma-5">La leçon a été modifier</h1>
                        </v-stepper-content>

                    </v-stepper-items>
                </v-stepper>
            </v-card-text>
            <v-card-actions>
                <v-btn
                class="pa-5 ma-3"
                color="error"
                rounded
                large
                @click="reload()">
                    <h4>Fermer</h4>
                    <v-icon class="my-1">
                        mdi-close
                    </v-icon>
                </v-btn>
            </v-card-actions>
        </v-card>
        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
        <v-btn text color="error" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>
    </v-dialog>
</template>
<script>

import axios from 'axios'
import UrlConst from '../services/UrlConst'

export default {
    components: {
    },
    data:() => {
        return {
            snackbarText: "",
            snackbar: false,
            stepperStep: 1,
            dialog: false,
            valid: false,
            menuPopUp: false,
            fieldRule: [v => !!v || 'Le champ doit etre renseignée !'],
            isLessonValid: false,
            actualFile: undefined,
            fileUploadLoader: true
        }
    },
    methods: {
        removeChapter(i){
            if(this.lesson.chapters.length > 1){
                this.lesson.chapters.splice(i, 1)
            }
        },
        onClickAddChapter(){
            this.lesson.chapters.push({
                content: "",
                file: {}
            })
        },
        addFileToChapter(i, file){
            this.lesson.chapters[i].file = file
        },
        updateLesson(){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.lessonUrl+this.lesson._id
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
            axios.patch(url , this.lesson,
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then(async (res) => {
                if(res.status == 200){
                    this.snackbarText = "La leçon a été modifiée, en attente de l'envois des fichiers"
                    this.stepperStep+=1
                    this.snackbar = true
                    for(let i = 0; i < this.lesson.chapters.length; i++){
                        this.actualFile = this.lesson.chapters[i].file
                        if(this.actualFile!=undefined && this.actualFile instanceof Blob){
                            let fileUploadUrl = process.env.VUE_APP_FUNCTION_FILE_UPLOAD
                            let formData = new FormData();
                            formData.append("file", this.actualFile, this.actualFile.name);

                            await axios.post(fileUploadUrl, formData, {
                                headers: {
                                'Content-Type': 'multipart/form-data'
                                }
                            }).then((res)=> {
                                let fileRes = res.data
                                let type = fileRes.type.split('/')[0]
                                let file = {
                                    src: process.env.VUE_APP_FILE_URL+fileRes.name,
                                    name: this.actualFile.name,
                                    type: type,
                                }
                                                                    
                                this.lesson.chapters[i].file=file
                            }).catch((err)=> {
                                console.error(err)
                                this.snackbarText = "Erreur lors du téléchargement du fichier "+this.actualFile.name
                                this.snackbar = true
                            })
                        }
                    }
                    axios.patch(url , this.lesson,
                    { headers: {
                        'Content-Type': 'application/json',
                        'Authorization': "Bearer "+ token
                    }}).then(() => {
                        this.snackbarText = "La leçon a été modifiée et les fichiers ont été envoyés."
                        this.snackbar = true
                        this.fileUploadLoader = false
                    }).catch(() =>{
                        this.snackbarText = "Une erreur est survenu lors de l'envois des fichiers."
                        this.snackbar = true
                    })
                }
            }).catch((err)=> {
                console.error(err)
                if(err.response.status == 412){
                    this.snackbarText = "Il y a une erreur dans le contenu de la leçon, veuillez le modifier."
                }
                else if(err.response.status == 403){
                    this.snackbarText = "Vous n'avez pas les droits pour modifiée cette leçon"
                }
                else {
                    this.snackbarText = "Une erreur est survenu, veuillez réssayer plus tard"
                }
                this.snackbar = true
            })
        },
        reload(){
            this.dialog = false
            this.$router.go()
        }
    },
    props: {
        lesson: {
            title: String,
            groupeId : String,
            chapters: [
                {
                    title: String,
                    content: String,
                    file: {}
                }
            ]
        }
    }
}
</script>
