<template>
    <v-dialog
        v-model="dialog"
        scrollable
        max-width="500px"
        >
        <template v-slot:activator="{ on, attrs }">  
            <v-tab outlined slot="activator" v-bind="attrs" v-on="on">
                Se connecter
                <v-icon class="ma-3">
                    mdi-account-outline
                </v-icon>   
            </v-tab>
        </template>
        <v-card>
            <v-toolbar color="secondary white--text">
                <v-spacer></v-spacer>
                <v-toolbar-title><h3>Connectez vous</h3> </v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text class="mt-5">
                <v-container>
                        <v-form
                        ref="form"
                        v-model="formValid">
                            <v-row class="my-3">
                                <v-col cols="12" class="mt-5">
                                    <v-row class="mx-2">
                                        <h3>Addresse mail :</h3>
                                    </v-row>
                                    <v-row >
                                        <v-text-field
                                        class="ma-2"
                                        placeholder="Addresse mail"
                                        required
                                        solo
                                        outlined
                                        :rules="emailRules"
                                        prepend-inner-icon="mdi-email"
                                        v-model="email"
                                        ></v-text-field>                                
                                    </v-row>
                                </v-col>
                                <v-col cols="12" class="mt-5">
                                    <v-row class="mx-2">
                                        <h3>Mot de passe :</h3>
                                    </v-row>
                                    <v-row>
                                        <v-text-field
                                        class="ma-2"
                                        placeholder="Mot de passe"
                                        required
                                        solo
                                        outlined
                                        :rules="passwordRule"
                                        :type="passwordShow ? 'text' : 'password'"
                                        :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
                                        prepend-inner-icon="mdi-lock"
                                        @click:append="passwordShow = !passwordShow"
                                        v-model="password"
                                        ></v-text-field>
                                    </v-row>
                                </v-col>
                                <v-col cols="12" class="d-flex align-center justify-center"> 
                                    <v-tooltip bottom>
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-btn
                                            color="error"
                                            rounded 
                                            large 
                                            outlined
                                            @click="forgotPassword"
                                            v-bind="attrs"
                                            v-on="on"
                                            >
                                            Mot de passe oublié ?
                                            </v-btn>
                                        </template>
                                        <span>Entrez votre addresse mail dans la barre au dessus. 
                                            Et un mail avec un nouveau mot de passe sera regenéré</span>
                                        </v-tooltip>
                                </v-col>
                                <v-col cols="12" class="d-flex align-center justify-center"> 
                                    <v-checkbox
                                    v-model="rememberMe"
                                    color="accent"
                                    label="Se souvenir de moi"></v-checkbox>
                                </v-col>
                            </v-row>
                        </v-form>
                </v-container>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-layout column>
                    <v-btn
                    class="pa-5 ma-1"
                    color="secondary"
                    rounded
                    large
                    :disabled="!formValid"
                    outlined
                    @click="logInUser()">
                        <h4>Connexion</h4>
                        <v-icon class="my-1">
                            mdi-account-arrow-right-outline
                        </v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                    class="pa-5 ma-1"
                    color="error white--text"
                    rounded
                    large
                    outlined
                    @click="dialog = false">
                        <h4>Fermer</h4>
                        <v-icon class="my-1">
                            mdi-close
                        </v-icon>
                    </v-btn>
                </v-layout>
            </v-card-actions>
        </v-card>
        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
        <v-btn text color="error" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>
    </v-dialog>
</template>

<script>
import axios from 'axios'
import UrlConst from '../services/UrlConst'

const headers = {
    'Content-Type': 'application/json',
}

export default {
    data:() => {
        return {
            formValid: false,
            dialog: false,
            rememberMe: true,
            email: "",
            password: "",
            passwordShow: false,
            snackbar: false,
            snackbarText: "",
            emailRules: [
                v => !!v || 'Veuillez renseinger un e-mail',
                v => /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'Entrez une adresse mail valide.',
            ],
            passwordRule: [v => !!v || 'Veuillez renseinger un mot de passe']
        }
    },
    computed:{
    },
    methods: {
        logInUser(){
            if(this.email == "" || this.password == ""){
                this.snackbarText = "Veuillez rentrer tout les champs."
                this.snackbar = true
            }else{
                let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.authUrl+UrlConst.loginUrl
                let body = {
                    email: this.email.trim(),
                    password: this.password,
                }
                axios.post(url,body ,{
                    headers: headers,
                }).then((res) => {
                    let data = res.data
                    if(res.status == 200){
                        this.snackbarText = "Vous êtes connecté, vous allez être redirigé sous peu."
                        this.snackbar = true
                        let token = data.token
                        let encryptedToken = this.CryptoJS.AES.encrypt(token, process.env.VUE_APP_SECRET_PHRASE).toString()
                        localStorage.token = encryptedToken

                        if(this.rememberMe){
                            let encryptedEmail = this.CryptoJS.AES.encrypt(this.email, process.env.VUE_APP_SECRET_PHRASE).toString()
                            let encryptedPwd = this.CryptoJS.AES.encrypt(this.password, process.env.VUE_APP_SECRET_PHRASE).toString()
                            
                            let emailName = this.CryptoJS.AES.encrypt("email", process.env.VUE_APP_SECRET_PHRASE).toString()
                            let passwordName = this.CryptoJS.AES.encrypt("password", process.env.VUE_APP_SECRET_PHRASE).toString()
                            localStorage.setItem(emailName, encryptedEmail)
                            localStorage.setItem(passwordName, encryptedPwd)
                        }
                        setTimeout(() => {
                            this.dialog = false
                            this.$router.go()
                        }, 1000);
                    }
                }).catch((err)=> {
                    console.error(err.response)
                    if(err.response.status == 404){
                        this.snackbarText = "L'addresse-mail ne correspond à aucun compte, veuillez la corrigez ou vous inscire sur le site."
                    }
                    else if(err.response.status == 412){
                        this.snackbarText = "Mot de passe incorrect."
                    }
                    else if(err.response.status == 401){
                        this.snackbarText = "Veuillez activer votre compte."
                    }
                    else {
                        this.snackbarText = "Une erreur est survenu."
                    }
                    this.snackbar = true
                })
            }
        },
        validateMail(){
            return !!this.email && /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.email)
        },
        forgotPassword(){
            if(this.validateMail()){
                let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.forgotPassword
                let body = {
                    email: this.email.trim(),
                }
                axios.post(url,body ,{
                    headers: headers,
                }).then((res) => {
                    if(res.status == 200){
                        this.snackbarText = "La demande a été prise en compte, vérifier votre addresse mail."
                        this.snackbar = true
                    }
                }).catch((err)=> {
                    console.error(err.response)
                    if(err.response.status == 412){
                        this.snackbarText = "L'addresse-mail ne correspond à aucun compte actif, veuillez la corrigez ou complétez votre inscription."
                    }
                    else {
                        this.snackbarText = "Une erreur est survenu."
                    }
                    this.snackbar = true
                })
            }else{
                this.snackbarText = "Veuillez entrez une addresse mail valide."
                this.snackbar = true
            }
        }
    }
}
</script>
