<template>
        <v-card class="d-flex align-center ma-3" :justify="justify" width="80%" :color="color" shaped :disabled="isSender" @click="likeMessage">
            <v-badge
            color="error"
            icon="mdi-heart"
            :value="message.isLiked"
            overlap
            bottom
            left>
            </v-badge>
                <v-card-text>
                    {{message.content}}
                </v-card-text>  
                
                <v-card-subtitle>
                <v-layout row wrap>
                    <v-row>
                            <v-col cols="9">
                                le {{formatDate(message.sentAt)}}
                            </v-col>
                        <!------
                            <v-col cols="2">
                                <v-icon v-if="message.read">
                                    mdi-check-all
                                </v-icon>
                                <v-icon v-else>
                                    mdi-check
                                </v-icon>
                            </v-col>
                        ---->
                    </v-row>
                </v-layout>
                </v-card-subtitle>     
        </v-card> 
</template>
<script>

import axios from 'axios'
import UrlConst from '../services/UrlConst'

export default {
    data(){
        return {
            color: "green lighten-4",
            justify: "",
            isSender:true,
        }
    },
    methods: {
        formatDate(date){
            let options = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute:'numeric'};
            return new Date(date).toLocaleDateString("fr-FR", options)
        },
        likeMessage(){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.messageUrl+UrlConst.likeUrl+this.message._id
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

            axios.put(url , {},
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then(async (res) => {
                if(res.status == 200){
                    this.message.isLiked = !this.message.isLiked
                }
            })
        }
    },
    created(){
        let senderColor = "light-green lighten-4"
        let receiverColor = "blue-grey lighten-4"

        this.isSender = this.message.sender == this.senderId
        if(this.isSender){
            this.color = senderColor
            this.justify = "end"
        }
        else{
            this.color = receiverColor
            this.justify = "start"
        }
    },
    props:{
        message: {
            _id: String,
            receiver: String,
            sender: String,
            sentAt: Date,
            content: String,
            isLiked: Boolean,
            read: Boolean,
            receiverInfo: {
                firstName: String,
                lastName: String,
                email: String,
            }
        },
        senderId: String
    }
}
</script>
<style scoped>
    .card_width{
        width: 100%;
        margin: 1em;
    }
</style>