<template>
  <v-card
    color="grey lighten-4"
    flat
    center-active
    tile
  >
    <v-toolbar>
      <router-link to="/">
        <img class="mr-3 mt-3" :src="require('../assets/logo.png')" height="100px"/>
      </router-link>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>

      <v-tabs
      v-if="isLogged"
        centered
        class="ml-10">
        <v-tabs-slider color="accent"></v-tabs-slider>
        <v-tab
          v-for="(link, i) in linksAuth"
          :key="i"
          router :to="{path: link.route}"
          color="secondary"
        >
          {{ link.name }}
          <v-icon class="ma-3">
            {{ link.icon }}
          </v-icon>
        </v-tab>
        <v-spacer></v-spacer>

        <v-tab color="red"  @click="disconnect()">
          Déconnexion
          <v-icon class="ma-3">
            mdi-exit-to-app
          </v-icon>
        </v-tab>
        
      </v-tabs>

      <v-tabs
      v-else
        centered
        class="ml-10"
        color="secondary">
        <v-tabs-slider color="accent"></v-tabs-slider>
        <v-tab
          v-for="(link, i) in linksNotLogged"
          :key="i"
          router :to="{path: link.route}"
        >
          {{ link.name }}
          <v-icon class="ma-3">
            {{ link.icon }}
          </v-icon>
        </v-tab>
        <v-spacer></v-spacer>

        <SignUpFormPopUp/>
        <LoginFormPopUp/>
        
      </v-tabs>
    </v-toolbar>
    <v-snackbar
    v-model="snackbar">
    {{snackbarText}}
    <v-btn text color="error" @click.native="snackbar = false">Fermer</v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
import LoginFormPopUp from './LoginFormPopUp'
import SignUpFormPopUp from './SignUpFormPopup'

export default {
  components: {
    LoginFormPopUp,
    SignUpFormPopUp
  },
  data(){
      return {
        snackbar: false,
        snackbarText: "",
        isLogged: false,
        linksNotLogged: [
          {name : 'Accueil', icon :'mdi-home-outline', route : '/'},
        ],
        linksSignInUp:[
          {name : 'S\'inscrire', icon :'mdi-account-plus-outline'},
          {name : 'Se connecter', icon :'mdi-account-outline'},
        ],
        linksAuth: [
          {name : 'Mes cours', icon :'mdi-pencil-outline', route : '/course'},
          {name : 'Messages', icon :'mdi-message-text-outline', route : '/message'},
          {name : 'Profil', icon :'mdi-account-outline', route : '/profil'},
        ]
      }
  },
  methods: {
    disconnect(){
      localStorage.removeItem("token")
      this.snackbarText = "Déconnexion"
      this.snackbar = true  
      setTimeout(() => {
        this.$router.go() 
      }, 1500);
    }
  },
  mounted() {
    if(localStorage.token){
      this.isLogged = true
    }
  }
}
</script>