<template>
    <!--  -->
    <v-dialog
        v-model="dialog"
        max-width="900px"
        scrollable>
            <template v-slot:activator="{ on, attrs }">  
                <v-btn rounded
                class="ma-5" 
                color="secondary" 
                slot="activator" 
                v-bind="attrs"
                large
                v-on="on">
                    Créer une organisation 
                    <v-icon>mdi-plus</v-icon>
                </v-btn>
            </template> 
        <v-card>
            <v-toolbar color="secondary white--text">
                <v-spacer></v-spacer>
                <v-toolbar-title><h3>Creation d'une organisation</h3> </v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>

            <v-card-text class="pt-5">
                <v-form
                ref="form"
                v-model="valid">

                    <v-layout column>
                        <v-col cols="12">
                            <v-row class="mx-2">
                                <h3>Nom de l'organisation :</h3>
                            </v-row>
                            <v-row >
                                <v-text-field
                                v-model="organisation.organisationName"
                                class="ma-2"
                                :rules="titleRule"
                                counter
                                maxlength="255"
                                placeholder="Nom de l'organisation"
                                solo
                                outlined
                                required
                                ></v-text-field>
                            </v-row>
                        </v-col>
                    </v-layout>

                </v-form>
            </v-card-text>
            <v-card-actions>
                    <v-layout row wrap class="pa-5">
                        <v-btn
                        class="pa-5 ma-3"
                        color="error"
                        rounded
                        large
                        @click="reload()">
                            <h4>Fermer</h4>
                            <v-icon class="my-1">
                                mdi-close
                            </v-icon>
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn
                        class="pa-5 ma-3"
                        color="primary"
                        rounded
                        :disabled="!valid"
                        large
                        @click="submit()">
                            <h4>Envoyer</h4>
                            <v-icon class="my-1">
                                mdi-send
                            </v-icon>
                        </v-btn>
                    </v-layout>
            </v-card-actions>
        </v-card>
        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
        <v-btn text color="error" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>
    </v-dialog>
</template>
<script>

import axios from 'axios'
import UrlConst from '../services/UrlConst'

export default {
    components: {
    },
    data: () => {
        return {
            snackbar: false,
            snackbarText: "",
            organisation: {
                organisationName: ""
            },
            dialog: false,
            valid: false,
            titleRule: [v => !!v || "Le nom de l'organisation doit etre renseignée !"],
        }
    },
    methods: {
        submit(){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.createUrl
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
            this.organisation.organisationName = this.organisation.organisationName.trim()
            axios.post(url , this.organisation,
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then((res) => {
                if(res.status == 201){
                    this.snackbarText = "L'organisation a été crée."
                    this.snackbar = true
                    this.dialog = false
                    this.$router.go()
                }
            }).catch((err)=> {
                if(err.response.status == 400){
                    this.snackbarText = err.response
                }
                else if(err.response.status == 412){
                    this.snackbarText = "Il y a une erreur dans le contenu votre requête."
                }
                else if(err.response.status == 403){
                    this.snackbarText = "Vous n'avez pas les droits pour crée des organisation."
                }
                else {
                    this.snackbarText = err.response.data
                }
                this.snackbar = true
            })
        },
        reload(){
            this.dialog = false
            this.$router.go()
        }
    }
}
</script>
