<template>
    <!--  -->
    <v-dialog
    v-model="dialog"
    scrollable
    auto-height
    max-width="auto">
            <template v-slot:activator="{ on, attrs }">  
                <v-btn rounded
                class="ma-10" 
                color="white primary--text" 
                slot="activator" 
                v-bind="attrs" 
                v-on="on">
                    Modifier l'organisation
                    <v-icon>mdi-cog</v-icon>
                </v-btn>
            </template> 
            <v-card>      
            <v-toolbar 
            flat
            color="secondary"
            dark>
                <v-spacer></v-spacer>
                <v-toolbar-title>Modification de l'organisation : {{organisation.name}} </v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>

            <v-card-text>
                <v-form
                    ref="form"
                    v-model="formValid">
                        <v-row class="my-3">
                            
                            <v-col cols="12" class="mt-5">
                                <v-row class="ma-2">
                                    <h3>Crée le {{formatDate(organisation.createdAt)}}</h3>
                                </v-row>
                            </v-col>
                            <v-col cols="12" class="mt-5">
                                <v-row class="mx-2">
                                    <h3>Nom de l'organisation :</h3>
                                </v-row>
                                <v-row full-width>
                                    <v-text-field
                                    class="ma-2"
                                    full-width
                                    counter
                                    maxlength="255"
                                    placeholder="Nom de l'organisation"
                                    prepend-inner-icon="mdi-office-building-outline"
                                    :rules="nameRule"
                                    outlined
                                    required
                                    solo>
                                    <template #append>
                                        <v-btn
                                        rounded
                                        @click="modifyOrganisationName()"
                                        color="primary">
                                            Modifier le nom
                                        </v-btn>
                                    </template>
                                </v-text-field>
                                </v-row>
                            </v-col>
                            
                            <v-col cols="12" class="mt-5">
                                <v-row class="ma-2">
                                    <h3>Listes des personnes présente dans l'organisaion :</h3>
                                </v-row>
                                <v-list>
                                    <v-list-group
                                    :value="false"
                                    no-action
                                    sub-group>
                                        <template v-slot:activator>
                                            <v-list-item-content>
                                                <v-list-item-title>Liste des membres administrateurs : </v-list-item-title>
                                            </v-list-item-content>
                                        </template>
                                        
                                        <template v-for="(admin, i) of admins"> 
                                            <v-list-item  :key="admin._id">
                                                <v-list-item-title>{{admin.email}}</v-list-item-title>

                                                <v-list-item-action>
                                                    <v-btn
                                                    icon
                                                    outlined
                                                    @click="removeUser(admin._id, 'admin', i)"
                                                    color="error">
                                                        <v-icon>mdi-trash-can-outline</v-icon>
                                                    </v-btn>
                                                </v-list-item-action>
                                            </v-list-item>

                                            <v-divider inset :key="admin._id" class="mb-3"></v-divider>
                                        </template>


                                        <v-list-item>
                                            <v-row>
                                                <v-list-item class="ma-4">
                                                    <v-text-field
                                                    placeholder="Mettez l'addresse mail de l'utilisateur"
                                                    prepend-inner-icon="mdi-account-circle-outline"
                                                    :rules="emailRules"
                                                    outlined
                                                    rounded
                                                    v-model="newAdmins"
                                                    required
                                                    solo>
                                                        <template #append>
                                                            <v-btn
                                                            rounded
                                                            @click="addUser('admin', newAdmins)"
                                                            color="primary">
                                                                Ajouter le nouveau membre
                                                                <v-icon>mdi-plus</v-icon>
                                                            </v-btn>
                                                        </template>
                                                    </v-text-field>
                                                </v-list-item>
                                            </v-row>
                                        </v-list-item>
                                    </v-list-group>
                                    
                                    <v-divider></v-divider>

                                    <v-list-group
                                    :value="false"
                                    no-action
                                    sub-group>
                                        <template v-slot:activator>
                                            <v-list-item-content>
                                            <v-list-item-title>Liste des membres volontaire : </v-list-item-title>
                                            </v-list-item-content>
                                        </template>
                                        
                                        <template v-for="(volunteer, i) of volunteers" > 
                                            <v-list-item :key="volunteer._id">
                                                <v-list-item-title>{{volunteer.email}}</v-list-item-title>

                                                <v-list-item-action>
                                                    <v-btn
                                                    icon
                                                    outlined
                                                    @click="removeUser(volunteer._id, 'volunteer', i)"
                                                    color="error">
                                                        <v-icon>mdi-trash-can-outline</v-icon>
                                                    </v-btn>
                                                </v-list-item-action>
                                                <v-divider inset></v-divider>
                                            </v-list-item>

                                            <v-divider inset :key="volunteer._id" class="mb-3"></v-divider>
                                        </template>


                                        <v-list-item>
                                            <v-row>
                                                <v-list-item  class="ma-4">
                                                    <v-text-field
                                                    placeholder="Mettez l'addresse mail de l'utilisateur"
                                                    prepend-inner-icon="mdi-account-circle-outline"
                                                    :rules="emailRules"
                                                    outlined
                                                    rounded
                                                    v-model="newVolunteers"
                                                    required
                                                    solo>
                                                        <template #append>
                                                            <v-btn
                                                            rounded
                                                            @click="addUser('volunteer', newVolunteers)"
                                                            color="primary">
                                                                Ajouter le nouveau membre
                                                                <v-icon>mdi-plus</v-icon>
                                                            </v-btn>
                                                        </template>
                                                    </v-text-field>
                                                </v-list-item>
                                            </v-row>
                                        </v-list-item>
                                        
                                    </v-list-group>
                                    
                                    <v-divider></v-divider>

                                    <v-list-group
                                    :value="false"
                                    no-action
                                    sub-group>
                                        <template v-slot:activator>
                                            <v-list-item-content>
                                            <v-list-item-title>Liste des membres simple : </v-list-item-title>
                                            </v-list-item-content>
                                        </template>

                                        <template v-for="(member, i) of members"> 
                                            <v-list-item :key="member._id">
                                                <v-list-item-title>{{member.email}}</v-list-item-title>
                                                <v-list-item-action>
                                                    <v-btn
                                                    icon
                                                    outlined
                                                    @click="removeUser(member._id, 'member', i)"
                                                    color="error">
                                                        <v-icon>mdi-trash-can-outline</v-icon>
                                                    </v-btn>
                                                </v-list-item-action>
                                                <v-divider inset></v-divider>
                                            </v-list-item>
                                            <v-divider inset :key="member._id" class="mb-3"></v-divider>
                                        </template>
                                        
                                        
                                        <v-list-item>
                                            <v-row>
                                                <v-list-item class="ma-4">
                                                    <v-text-field
                                                    placeholder="Mettez l'addresse mail de l'utilisateur"
                                                    prepend-inner-icon="mdi-account-circle-outline"
                                                    :rules="emailRules"
                                                    outlined
                                                    rounded
                                                    max-width="auto"
                                                    v-model="newMembers"
                                                    required
                                                    solo>
                                                        <template #append>
                                                            <v-btn
                                                            rounded
                                                            @click="addUser('member', newMembers)"
                                                            color="primary">
                                                                Ajouter le nouveau membre
                                                                <v-icon>mdi-plus</v-icon>
                                                            </v-btn>
                                                        </template>
                                                    </v-text-field>
                                                </v-list-item>
                                            </v-row>
                                        </v-list-item>
                                    </v-list-group>
                                </v-list>
                            </v-col>
                        </v-row>
                    </v-form>
            </v-card-text>
            <v-card-actions>
                <v-btn
                class="ma-3"
                color="error"
                rounded
                @click="reload()">
                    Fermer
                </v-btn>
            </v-card-actions>
        </v-card>
        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
        <v-btn rounded color="error" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>
    </v-dialog>
</template>
<script>
import axios from 'axios'
import UrlConst from '../services/UrlConst'

const userUrl = "user/"


export default {
    data(){
        return {
            formValid: false,
            snackbar: false,
            snackbarText: "",
            dialog: false,
            emailRules: [
                v => !!v || 'Veuillez renseinger un e-mail',
                v => /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'Entrez une adresse mail valide.',
            ],
            organisation: {
                _id: String,
                createdAt: Date,
                creatorId: String,
                name: String,
                admins: [],
                volunteers: [],
                members: []
            },
            members: [],
            admins: [],
            volunteers: [],
            newMembers: "",
            newAdmins: "",
            newVolunteers: "",
            newName: "",
            nameRule: [v => !!v || "Ne laissez pas le champs vide"]
        }
    },
    methods: {
        reload(){
            this.dialog = false
            this.$router.go()
        },
        modifyOrganisationName(){
            this.organisation.name = this.newName
        },
        formatDate(date){
            let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            return new Date(date).toLocaleDateString("fr-FR", options)
        },
        addUser(role, mail){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.addMemberUrl
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
            
            
            axios.put(url ,{
                organisationId: this.organisationId,
                mail: mail,
                role: role
            },
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }}).then((res) => {
                if(res.status == 200){
                    this.snackbarText = "Utilisateur ajouté à l'organisation."
                    this.snackbar = true
                    this.fetchOrganisation()

                    switch(role){
                        case "admin":
                            this.admins.push({
                                email: mail,
                                lastName: "",
                                firstName: "",
                                })
                            break
                        case "member":
                            this.members.push({
                            email: mail
                            })
                            break
                        case "volunteer":
                            this.volunteers.push({
                                email: mail,
                                lastName: "",
                                firstName: "",
                                })
                            break
                    }
                }
            }).catch((err)=> {
                if(err.response.status == 412){
                    this.snackbarText = "L'utilisateur a déjà été ajouté dans cette organisation."
                }
                else if(err.response.status == 404){
                    this.snackbarText = "L'utilisateur n'existe pas."
                }
                this.snackbar = true
            })
        },
        removeUser(userId, role, i){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+UrlConst.removeMemberUrl
            let encryptedToken = localStorage.token
            let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
    

            axios.delete(url,
            { headers: {
                'Content-Type': 'application/json',
                'Authorization': "Bearer "+ token
            }
            ,data : {
                organisationId: this.organisationId,
                memberId: userId,
            }}).then((res) => {
                if(res.status == 200){
                    this.snackbarText = "Utilisateur supprimé de l'organisation."
                    this.snackbar = true
                    switch(role){
                        case "admin": 
                            this.admins.splice(i, 1)
                            break;
                        case "member": 
                            this.members.splice(i, 1)
                            break;
                        case "volunteer": 
                            this.volunteers.splice(i, 1)
                            break;
                        default:
                            this.snackbarText = "Utilisateur supprimé de l'organisation, mais problème lors du rafraichissement de l'affichage, veuillez rafraichir la page."
                            break;

                    }
                }
            }).catch((err)=> {
                if(err.response.status == 412){
                    this.snackbarText = "L'utilisateur n'est pas dans cette organisation."
                }
                else if(err.response.status == 404){
                    this.snackbarText = "L'utilisateur n'existe pas."
                }
                
                this.snackbar = true
            })
        }
    },
    created(){
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.organisationUrl+this.organisationId
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)
        
        axios.get(url ,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then((res) => {
            if(res.status == 200){
                this.organisation = res.data
                this.newName = this.organisation.name                

                for(let member of this.organisation.members){
                    let memberInfoUrl = process.env.VUE_APP_SERVEUR_URL+userUrl+member.userId
                    axios.get(memberInfoUrl ,
                    { headers: {
                        'Content-Type': 'application/json',
                        'Authorization': "Bearer "+ token
                    }}).then(async (res) => {
                        if(res.status == 200){
                            this.members.push(res.data)
                        }
                    })
                }
                for(let admin of this.organisation.admins){
                    let adminInfoUrl = process.env.VUE_APP_SERVEUR_URL+userUrl+admin.userId
                    axios.get(adminInfoUrl ,
                    { headers: {
                        'Content-Type': 'application/json',
                        'Authorization': "Bearer "+ token
                    }}).then(async (res) => {
                        if(res.status == 200){
                            this.admins.push(res.data)
                        }
                    })
                }
                for(let volunteer of this.organisation.volunteers.userId){
                    let volunteerInfoUrl = process.env.VUE_APP_SERVEUR_URL+userUrl+volunteer.userId
                    axios.get(volunteerInfoUrl ,
                    { headers: {
                        'Content-Type': 'application/json',
                        'Authorization': "Bearer "+ token
                    }}).then(async (res) => {
                        if(res.status == 200){
                            this.volunteers.push(res.data)
                        }
                    })
                }
            }
        })
    },
    props: {
        organisationId : String
    }
}
</script>