<template>
    <v-layout justify-center>
        <v-card class="d-flex pa-10" outlined tile width="100%">
          <v-layout row wrap justify-center>
            <v-flex xs12 md6>
              <v-text-field 
                  v-model="searchLabel"
                  label="Chercher un groupe ..."
                  outlined
                  prepend-inner-icon="mdi-search-web"
                ></v-text-field>
            </v-flex>
            <v-flex xs5 md3>
                <v-select
                  v-model="categorySelectValue"
                  :items="selectCategory"
                  label="Catégorie du cours"
                  multiple
                  outlined
                  dense
                  clearable
                  chips
                  hint="Choisissez une ou des catégorie pour la recherche"
                  persistent-hint
                  ></v-select>
            </v-flex>
            <v-flex xs5 md3>
                <v-btn
                  class="py-7"
                  outlined
                  color="accent"
                >
                  Rechercher
                </v-btn>
            </v-flex>
          </v-layout>
        </v-card>
      </v-layout>

</template>
<script>

export default {
  data: () => {
      return {
      searchLabel: "",
      categorySelectValue: "",
      selectCategory: [
        "Mathématique",
        "Sciences",
        "Informatique"
      ]
    }
  },
    methods: {
        
    }
}
</script>