<template>
    <v-dialog
            v-model="dialog"
            scrollable
            max-width="500px"
        >
        <template v-slot:activator="{ on, attrs }">  
            <v-tab outlined slot="activator" v-bind="attrs" v-on="on">
                S'inscrire
                <v-icon class="ma-3">
                    mdi-account-plus-outline
                </v-icon>   
            </v-tab>
        </template>
        <v-card>
            <v-toolbar color="secondary white--text">
                <v-spacer></v-spacer>
                <v-toolbar-title><h3> Creer votre compte facilement </h3> </v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text class="pt-10">
                <v-container>
                    <v-form
                    ref="form"
                    v-model="validator">
                        <v-row>
                            <v-col cols="12" md="6" sm="12">
                                <v-row class="ma-2">
                                    <h3>Prénom  :</h3>
                                </v-row>
                                <v-row>
                                    <v-text-field
                                    counter
                                    maxlength="255"
                                    class="mx-2"
                                    placeholder="Prénom"
                                    outlined
                                    solo
                                    v-model="firstName"
                                    :rules="nameRule"
                                    required></v-text-field>
                                </v-row>
                            </v-col>
                            <v-col cols="12" md="6" sm="12">
                                <v-row class="ma-2">
                                    <h3>Nom :</h3>
                                </v-row>
                                <v-row>
                                    <v-text-field
                                    counter
                                    maxlength="255"
                                    class="mx-2"
                                    placeholder="Nom"
                                    outlined
                                    solo
                                    v-model="lastName"
                                    :rules="nameRule"
                                    ></v-text-field>
                                </v-row>
                            </v-col>
                            <v-col cols="12"  sm="12">
                                <v-row class="ma-2">
                                    <h3>Addresse mail :</h3>
                                </v-row>
                                <v-row>
                                    <v-text-field
                                    counter
                                    maxlength="255"
                                    class="mx-2"
                                    placeholder="Addresse mail"
                                    v-model="email"
                                    outlined
                                    solo
                                    :rules="emailRules"
                                    ></v-text-field>                                    
                                </v-row>
                            </v-col>
                            <v-col cols="12"  sm="12">
                                <v-row class="ma-2">
                                    <h3>Mot de passe :</h3>
                                </v-row>
                                <v-row>
                                    <v-text-field
                                    counter
                                    maxlength="255"
                                    class="mx-2"
                                    :type="passwordShow ? 'text' : 'password'"
                                    :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'" 
                                    placeholder="Mot de passe"
                                    v-model="password"
                                    :rules="passwordRule"
                                    solo
                                    outlined
                                    @click:append="passwordShow = !passwordShow"
                                    ></v-text-field>
                                </v-row>
                            </v-col>
                            <v-col cols="12"  sm="12">
                                <v-row class="ma-2">
                                    <h3>Date de naissance :</h3>
                                </v-row>
                                <v-row>
                                    <v-menu
                                    v-model="dialogDate"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto">
                                        <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                            v-model="birthdate"
                                            class="mx-2"
                                            placeholder="Choisissez une date de naissance"
                                            prepend-inner-icon="mdi-calendar"
                                            readonly
                                            clearable
                                            outlined
                                            solo
                                            :rules="birthdateRule"
                                            v-bind="attrs"
                                            v-on="on"
                                        ></v-text-field>
                                        </template>
                                        <v-date-picker
                                        v-model="birthdate"
                                        :show-current="true"
                                        locale="FR-fr">
                                        </v-date-picker>
                                    </v-menu>
                                </v-row>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-container>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-layout column>
                    <v-btn
                    color="error"
                    rounded
                    large
                    outlined
                    class="pa-5 ma-1"
                    @click="dialog = false">
                        <h4>Fermer</h4>
                        <v-icon class="ml-3">
                            mdi-close
                        </v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                    color="secondary"
                    class="pa-5 ma-1"
                    :disabled="!validator"
                    rounded
                    large
                    outlined
                    @click="signUpUser()">
                        <h4>Creer mon compte</h4>
                        <v-icon class="ml-3">
                            mdi-account-plus-outline
                        </v-icon>
                    </v-btn>
                </v-layout>
            </v-card-actions>
        </v-card>
        <v-snackbar
        v-model="snackbar">
        {{snackbarText}}
        <v-btn text color="error" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>
    </v-dialog>
</template>
 
<script>
import axios from 'axios'
import UrlConst from '../services/UrlConst'

const headers = {
    'Content-Type': 'application/json',
}

export default {
    data: () => {
        return {
            validator: false,
            passwordShow: false,
            passwordConfirmationShow: false,
            dialog: false,
            dialogDate: false,
            firstName: "",
            lastName: "",
            email: "",
            password: "",
            snackbar: false,
            snackbarText: "",
            birthdate: "",
            emailRules: [
                v => !!v || 'Veuillez renseinger un e-mail',
                v => /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'Entrez une adresse mail valide.',
            ],
            passwordRule: [
                v => !!v || 'Veuillez renseinger un mot de passe.',
                v => v.length >8 || 'Veuillez renseinger un mot de passe de plus de 8 caractères.'
            ],
            nameRule: [v => !!v || 'Veuillez renseinger un nom.'],
            birthdateRule: [v => !!v || 'Veuillez renseinger une date de naissance.'],
        }
    },
    methods: {
        signUpUser(){
            let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.authUrl+UrlConst.registerUrl
            let body = {
                firstName: this.firstName.trim(),
                lastName: this.lastName.trim(),
                email: this.email.trim(),
                password: this.password,
                birthdate: this.birthdate
            }
            axios.post(url,body ,{
                headers: headers,
            }).then((res) => {
                if(res.status == 201){
                    this.snackbarText = "Votre compte a été créé, validez le via le lien envoyer dans votre adresse mail."
                    this.snackbar = true
                    setTimeout(() => {
                        this.dialog = false
                        this.$router.go()
                    }, 1000);
                }
            }).catch((err)=> {
                if(err.response.status == 412){
                    this.snackbarText = "L'addresse mail est déjà utilsé."
                    this.snackbar = true
                }
            })
        }
    },   
}
</script>
