<template>
    <v-flex sm12 class="ma-4">
        <v-card>
            <v-card-title class="d-flex align-center justify-center text-h6">
                <span v-if="stats.averageScore">{{stats.user.lastName}} {{stats.user.firstName}} a une moyenne générale de {{stats.averageScore}}</span>
                <span v-else>{{stats.user.lastName}} {{stats.user.firstName}} n'as pas de note pour le moment.</span>
            </v-card-title>
            <v-card-subtitle class="d-flex align-center justify-center ma-1">
                <span v-if="stats.averageScore">Avec {{stats.responses.length}} exercice(s)</span>
            </v-card-subtitle>
            <v-card-text class="d-flex align-center justify-center">
                <v-sparkline
                class="pa-5"
                v-if="stats.responses.length > 1"
                auto-draw
                :fill="false"
                :gradient="selectedGradient"
                :line-width="1"
                :padding="15"
                :smooth="false"
                :labels="getMarks"
                :value="getMarks">
                    <template v-slot:label="getMarks">
                        {{ getMarks.value }}
                    </template>
                </v-sparkline>
            </v-card-text>
        </v-card>
        
    </v-flex>
</template>
<script>

export default {
    data(){
        return {
            selectedGradient: ['#164A41', '#4D774E'],
        }
    },
    methods: {
        
    },
    computed:{
        getMarks(){
            return this.stats.responses.map(x=>x.grade*20)
        },
    },
    props:{
        stats: {
            user: {
                _id: String,
                lastName: String,
                firstName: String
            },
            responses: [
                {
                    exercise: {
                        _id: String,
                        title: String,
                        coefficient: Number,
                        total: Number,
                        marks: Number
                    },
                    grade: Number
                }
            ],
            averageScore: Number
        }
    }
}
</script>