<template>
    <!--  -->
    <div class="m-">
        
    </div>
</template>
<script>

export default {
    data(){
        return {
            
        }
    },
    methods: {
        
    },
    props: {
        exerciseId: String
    },
    created(){

    },
    mounted(){

    }
}
</script>