<template>
    <v-flex xs12 lg6 class="ma-4">
        <v-card>
            <v-card-title class="text-wrap d-inline">
                Réponse de {{userInfo.firstName}} {{userInfo.lastName}}
            </v-card-title>
            <v-card-text>
                <div>
                    Envoyé le {{formatDate(studentExercise.sendAt)}}
                </div>
            </v-card-text>
            <v-card-actions>
                <v-layout column class="d-flex align-center justify-center">
                    <v-row class="ma-5">
                        <h3> Note :</h3>
                        <h3 class="mx-3 red--text">{{studentExercise.marks}}/{{studentExercise.total}}</h3>
                    </v-row>

                    <v-spacer></v-spacer>
                    
                    <v-row v-if="isAdmin" class="ma-2">
                        <ExerciseCorrectionPopUp :studentExercise="studentExercise" :userInfo="userInfo" :isAdmin="true"/>
                    </v-row>
                    <v-row v-else class="ma-2">
                        <ExerciseCorrectionPopUp :studentExercise="studentExercise" :userInfo="userInfo" :isAdmin="false"/>
                    </v-row>
                </v-layout>
            </v-card-actions>
        </v-card>
        </v-flex>
</template>
<script>
import ExerciseCorrectionPopUp from './ExerciseCorrectionPopUp.vue'
import UrlConst from '../services/UrlConst'
import axios from 'axios'

export default {
    components:{
        ExerciseCorrectionPopUp
    },
    data(){
        return {
            userInfo:{
                firstName: String,
                lastName: String,
                email: String
            },
        }
    },
    methods: {
        formatDate(date){
            let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute:'numeric'};
            return new Date(date).toLocaleDateString("fr-FR", options)
        },
    },
    created(){
        let url = process.env.VUE_APP_SERVEUR_URL+UrlConst.userUrl+this.studentExercise.userId
        let encryptedToken = localStorage.token
        let token = this.CryptoJS.AES.decrypt(encryptedToken, process.env.VUE_APP_SECRET_PHRASE).toString(this.CryptoJS.enc.Utf8)

        axios.get(url ,
        { headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer "+ token
        }}).then(async (res) => {
            if(res.status == 200){
                this.userInfo = res.data
            }
        })
    },
    props:{
        studentExercise: {
            _id: String,
            userId: String,
            marks: Number,
            coefficient: Number,
            sendAt: Date,
            total: Number,
            questions: [{
                text: String,
                questionType: String,
                comment: String,
                coefficient: Number,
                responses: [
                    {
                    text: String,
                    isAnswer: Boolean,
                    isUserResponse : Boolean
                    }
                ],
            }],
        },
        isAdmin: Boolean
    }
}
</script>