<template>
  <v-app>
    <NavBar/>
    <v-main>
      <router-view></router-view>
    </v-main>
    <AboutUs/>

  </v-app>

</template>

<script>
  import NavBar from '@/components/Navbar.vue'
  import AboutUs from '../src/views/AboutUs.vue'
  
  export default {
      name: 'App',
      components : {
        NavBar,
        AboutUs
      },
      data:() => {
        return {
          //
        }
      },
  };

</script>